<h5 *ngIf="listData?.Subject">{{listData.Subject}}</h5>
<p *ngIf="listData?.Description" class="card-text">{{listData.Description}}</p>
<p *ngIf="listData?.ScheduledEndDate" class="card-text"> תאריך יעד :{{listData.ScheduledEndDate | date: 'dd/MM/yyyy' }}
</p>
<p *ngIf="listData?.WorkingHours" class="card-text"> משך זמן שהוקצה למשימה :{{listData.WorkingHours}}
  {{this.timeSetting}} </p>
<p *ngIf="listData?.TotalActualTime" class="card-text"> שעות בפועל עד כה :{{listData.TotalActualTime }}
</p>

<br>
<div class="form-outline d-flex justify-content-center ">
  <textarea style="max-height:100%;" type="text" id="FirstName" name="Description" #Description="ngModel"
    class="form-control textarea" placeholder="תאור המשימה" [(ngModel)]="descriptionTask" ngModel>
      </textarea>
</div>
<br>
<div class="button-of-task">
  <button [disabled]="isDisabledStart" (click)="startTimer(); clickOfButton('start',true)"
    class="btn btn-color">התחל</button>
  <button [disabled]="isDisabledPouse" (click)="pauseTimer(workTime); clickOfButton('pouse',true)"
    class="btn btn-color">הפסק</button>
  <button [disabled]="isDisabledEnd" (click)="deleteTimer(workTime); clickOfButton('end',true)"
    class="btn btn-color">משימה הושלמה</button>
</div>
<br>
<p *ngIf="workTime" class="Time">{{workTime[0]+ ":"+ workTime[1]+":"
  +workTime[2]}}</p>