<app-pop-up #upPopUP [ifX]="true">
    <h4 header class="mb-4">יצירת פריט תכולת פרוייקט - חופשה </h4>
    <div body>
        <form (ngSubmit)="f.valid &&CreateNewFreedomProjectItem(f)" #f="ngForm">
            <div class="checkbox">
            <label for="vehicle1">לדיווח על מספר ימים</label>
            <input type="checkbox" id="fewDays" name="fewDays" [(ngModel)]="isChecked" (change)="checkValue(isChecked)">
            </div>
            <ng-container *ngIf="showInputsDates">
                <div class="form-group">
                    <input type="date" class="form-control" id="fromDate" name="fromDate" [ngModel]=" todayDate| date: 'yyyy-MM-dd'"
                      (ngModelChange)="dateOne = $event">
                    <div class="input-group-addon">ל-</div>
                    <input type="date" class="form-control  " id="untilDate" name="untilDate" [ngModel]=" todayDate| date: 'yyyy-MM-dd'"
                      (ngModelChange)="dateTwo = $event">
                </div>
              </ng-container>
              <ng-container *ngIf="!showInputsDates">
            <div   class="form-outline d-flex justify-content-center">
                <input type="date" class="form-control" id="oneDate" name="oneDate" [ngModel]=" todayDate| date: 'yyyy-MM-dd'"
                      (ngModelChange)="dateTwo = $event">
            </div>
        </ng-container>

            <p>נושא</p>
            <div class="form-outline d-flex justify-content-center">
                <input type="text" id="Name" name="Name" class="form-control" value="חופשת מחלה"
                    placeholder="נושא המשימה" ngModel #subject="ngModel" [(ngModel)]="subjectTask"
                    [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" />
            </div>
            <div *ngIf="f.submitted && subject.invalid" class="text-danger">
                <span *ngIf="subject.errors">שדה זה חובה</span>
            </div>
            <p>סוג עבודה</p>
            <div class="form-outline d-flex justify-content-center">
                <select id="WorkType" class="form-control " name="WorkType"
                    [ngClass]="{ 'is-invalid': f.submitted && workType[0].invalid }" ngModel>
                    <option value="">חופשה</option>
                    <option *ngFor="let workType of  workType" value="{{workType.Guid}}">
                        {{workType.Name}}
                    </option>
                </select>

            </div>
            <div *ngIf="f.submitted && workType[0].invalid" class="text-danger">
                <span *ngIf="workType[0].errors">שדה זה חובה</span>
            </div>
            <p>שעות בפועל</p>
            <div class="form-outline d-flex justify-content-center ">
                <input type="number" id="FirstName" name="ActualTime" [(ngModel)]="hoursActually" class="form-control"
                    ngModel #HoursActually="ngModel" [ngClass]="{'is-invalid': f.submitted && HoursActually.invalid }">
            </div>
            <div *ngIf="f.submitted && HoursActually.invalid" class="text-danger">
                <span *ngIf="HoursActually.errors">שדה זה חובה</span>
            </div>
            <p>?האם שעות לחיוב</p>
            <div class="form-outline d-flex justify-content-center">

                <select id="inputState" class="form-control" name="BillableHours" selected value="2"
                    #billingHours="ngModel" ngModel [ngClass]="{ 'is-invalid': f.submitted && billingHours.invalid }">
                    <option value="">לא</option>
                    <option value="1">כן </option>
                    <option value="2">לא </option>
                    <option value="970140002">אחר </option>
                </select>
            </div>
            <div *ngIf="f.submitted && billingHours.invalid" class="text-danger">
                <span *ngIf="billingHours.errors">שדה זה חובה</span>
            </div>
            <p>פרוייקט</p>
            <div class="form-outline d-flex justify-content-center">
                <select id="inputState" class="form-control" ngModel name="Project" #SourceTask="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && SourceTask.invalid }">
                    <option value="">חופשה</option>
                    <option *ngFor="let MyTask of myTask" value="{{MyTask.TaskGuid}}">
                        {{MyTask.Subject}}
                    </option>
                </select>
            </div>
            <div *ngIf="f.submitted && SourceTask.invalid" class="text-danger">
                <span *ngIf="SourceTask.errors">שדה זה חובה</span>
            </div>

            <div class="form-outline d-flex justify-content-center ">
                <textarea style="max-height:100%;" type="text" id="FirstName" name="Description" #Description="ngModel"
                    class="form-control textarea" placeholder=" תאור המשימה  " ngModel>
                        </textarea>
            </div>
            <!-- <div class="form-outline d-flex justify-content-center ">
                <input type="text" id="FirstName" name="NoteToProjectManager" class="form-control" ngModel
                    name="NoteToProjectManager" #NoteToProjectManager="ngModel" placeholder="הערות למנהל פרוייקט">

            </div> -->
            <!-- <div *ngIf="f.submitted && NoteToProjectManager.invalid" class="text-danger">
                <span *ngIf="NoteToProjectManager.errors">שדה זה חובה</span>
            </div> -->
            <button type="submit" class="btn ">צור פריט תכולת פרוייקט </button>
        </form>
    </div>
    <div footer>
    </div>
</app-pop-up>