<table *ngIf="kindOfCard=='tableCard'" class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let th of thArr" scope="col">
        <ng-container *ngIf="th">
          {{th}}
        </ng-container>
      </th>
    </tr>
    <tr *ngFor="let colData of tableData">
      <ng-container *ngFor="let objectKey of tableDataKeys ">
        <ng-container *ngIf="objectKey!='WorkingHours' else WorkingHours">
          <td>{{colData[objectKey] }} </td>
         

        </ng-container>
        <ng-template #WorkingHours>
          <td>{{colData[objectKey] | number}} </td>
        </ng-template>

      </ng-container>

      <td><button (click)="EditProjectContentItemIcon(colData)"
          (click)="openPopUp('UpdateProjectContentItemDetails',true)" class="edit-button"> <i class="fa fa-pencil"
            aria-hidden="true"></i></button>
      </td>
    </tr>
  </thead>
</table>