.select-input
{
  display: flex;
  justify-content: center;
}  .search{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; 
  width: 100%;
}
.search{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem; 
  width: 100%;
}

