<div class="actionArea">
    <app-smart-card>
        <div body> 
            <a class="close" (click)="closePopUp()">&times;</a>
           <h5>משימות חדשות</h5>
            <app-smart-table [tableData]="MyNewTaskArr" [ifShowpagination]="[true,3]" (SelectedData)="showDetailsTask($event)"
                [tableDataKeys]="MyNewTaskKey" [hideSort]="'true'" [thArr]="thArrMyNewTask"></app-smart-table>
            <div *ngIf="ifThereNewTasks" class="checkIfNewTask">
                <h5>אין משימות חדשות</h5>
            </div>
        </div>
    </app-smart-card>
</div>