p {
    margin: 0;
    text-align: right;
  }
  .select-input
  {
    display: flex;
    justify-content: center;
  }
  .search{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; 
    width: 100%;
}
