<h2>
     {{titleLastTaskIWorkedOn}} <img src="../../../assets/images/2387679.png" alt="" >
  </h2>
<div class="select-table">
    <select id="inputState" class="form-control" ngModel (ngModelChange)="WhichTableOpen($event)">
        <option value="0">המשימות שלי </option>
        <option value="1"> המשימות של הצוותים אליהם אני שייך</option>
        <option value="">המשימות האחרונות שעבדתי עליהן </option>
    </select>
</div>
<!-- המשימות האחרונות שעבדתי עליהן -->
<app-smart-card >
    <div body>
        <!-- חיפוש ומיון -->
        <app-search-and-sort-tasks *ngIf="sortTaskArr.length > 0" [taskArr]="sortTaskArr"
            (GetTaskAfterSort)="getTaskAfterSort($event)" [taskArrCopy]="sortTaskArr"></app-search-and-sort-tasks>
        <app-smart-table [ifUpdateTask]="true" [ifShowpagination]="[true,10]" [ifDeleteTask]="true" [thArr]="thArrTaskTeams"
            [ifSortDown]="ifSortDown" [tableDataKeys]="taskTeamsListKeys" [tableData]="sortTaskArr"
            (EditProjectContentItemIcon)="editProjectContentItemIcon($event)" (SelectedData)="SelectedTask($event)"
            (SortTableDown)="SortTableDown($event)" (SortTableUp)="SortTableUp($event)"
            (DeleteTaskIcon)="DeleteTask($event)" [showMassgeToUserDeleteTask]="true"
            [ifDeleteOpen]="isPopUpOpen?.DeleteTask" [ifUpdateOpen]="isPopUpOpen?.UpdateProjectContentItemDetails">
        </app-smart-table>
        <div *ngIf="taskArr?.length==0">
            <br>
            <h2>אין משימות פעילות!</h2>
          </div>
          <div *ngIf="!taskArr">
            <h2>רק רגע...</h2>
          </div>
    </div>
</app-smart-card>