<!-- <form>
    <app-pop-up #upPopUP>
        <h4 header class="mb-4">סיים עבודה על משימה</h4>
        <div body>
            <div class="form-outline d-flex justify-content-center">
                <select id="inputState" class="form-control ">
                    <option value="">בחר איזו משימה ברצונך לעדכן</option>
                    <option value="">'משימה א</option>
                    <option value=""> 'משימה ב</option>
    
                </select></div>
        </div>
        <div footer>
            <button type="submit" class="btn ">סיים משימה </button>
        </div>
    </app-pop-up>
</form> -->

<img src="/src/assets/images/pause2image.png" alt="Card image cap">>