
<app-smart-card [title]="titleTableTeamsTask">
  <div body>
    <app-smart-table [ifUpdateTask]="true" [ifDelete]="true" [ifShowpagination]="[true,10]"  [thArr]="thArrTaskTeams" [ifSortDown]="ifSortDown" [tableDataKeys]="taskTeamsListKeys"
      [tableData]="taskTeamsArr" (DeleteProjectContentItemIcon)="deleteProjectContentItemIcon($event)"
      (EditProjectContentItemIcon)="editProjectContentItemIcon($event)" (SortTableDown)="SortTableDown($event)"
      (SortTableUp)="SortTableUp($event)"
      [ifUpdateOpen]="isPopUpOpen?.UpdateProjectContentItemDetails">
     
    </app-smart-table>
     <div *ngIf="taskTeamsArr?.length<1">
        <br>
        <h2>אין משימות פעילות!</h2>
      </div>
  </div>
</app-smart-card>

<div *ngIf="isPopUpOpen?.UpdateProjectContentItemDetails">
  <app-update-project-content-item [kindUpdate]="'updateTaskDetails'" [project]="project" [workType]="workType"
    [ifUpdateTask]="true" [header]="'עדכון משימה'" [ProjectContentItem]="projectContentItem">
  </app-update-project-content-item>
  
</div> <div *ngIf="isPopUpOpen?.DeleteProjectContentItemIcon">
    <app-delete-project-content-item [projectContentItemGuid]="projectContentItemGuid">
    </app-delete-project-content-item>
  </div>

