button {
    border-color: white;
    background-color: white;
    border: none;
}


.input-container {
    margin: 1rem;
}

h2 {
    text-align: center;
    color: rgba(6, 6, 19, 0.795);
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}


.input-container {
    margin: 1rem;
}
.autocomplete-1,
.autocomplete-2,
.autocomplete-3,
#inputState-2 {
    width: 14rem;
}

#inputState-1 {
    width: 16rem;

}

select#inputState {
    margin-top: 1.2rem;
}

.searchProject{
    display: flex;
    
    }
.search {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin-bottom: 1rem;
}
@media (max-width: 900px) {
    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        direction: rtl;
        margin-bottom: 1rem;
        align-items: center;
    }
}
