


    <table *ngIf="kindOfCard=='tableCard'" class="table table-hover">
        <thead>
          <tr>
            <th *ngFor="let th of thArr" scope="col">{{th}}</th>
          </tr>
        </thead>
        <tbody *ngIf="tableData">
          <tr *ngFor="let tableData of tableData" (click)="SelectedData(tableData); clickOfButton('chooseAnotherTask',true)">
            <ng-container *ngFor="let tableDataKey of tableDataKeys">
              <td>{{tableData[tableDataKey]}}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    



