<!-- חיפוש ומיון -->

<!-- <app-search-and-sort-tasks [taskArr]="taskArr"
 [taskArrCopy]="taskArrCopy"></app-search-and-sort-tasks> -->

<div class="search">
  <div class="form-outline">
    <select id="inputState" class="form-control" ngModel (ngModelChange)="WhichTableOpen($event)">
      <option value="">--בחר אחת מהאופציות הבאות--</option>
      <option value="0">המשימות שלי </option>
      <option value="1"> המשימות של הצוותים אליהם אני שייך</option>
      <option value="2">המשימות האחרונות שעבדתי עליהן </option>
    </select>

    <div class="form-outline d-flex justify-content-center ">
      <ng-autocomplete style="width: 100%;" class="autoComplete" [data]="taskArr" [searchKeyword]="'Subject'"
        placeholder=" חפש לפי משימה" historyIdentifier="Subject" [itemTemplate]="itemTemplate"
        (ngModelChange)="onSearchTask($event.Subject)" ngModel name="Subject" #Subject="ngModel" required
        [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.Subject" style="text-align:center ;"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="'לא נמצאו תוצאות'"></div>
      </ng-template>
    </div>

    <div class="form-outline d-flex justify-content-center ">

      <ng-autocomplete style="width: 100%;" [data]="projectArr" [searchKeyword]="'Name'" placeholder="חפש לפי פרויקט"
        historyIdentifier="Project" class="autoComplete" [itemTemplate]="itemTemplate2"
        (ngModelChange)="onSearchProject($event)" ngModel name="SourceTask" #SourceTask="ngModel" required
        [notFoundTemplate]="notFoundTemplate2">
      </ng-autocomplete>
      <ng-template #itemTemplate2 let-item>
        <a [innerHTML]="item.Name" style="text-align:center ;"></a>
      </ng-template>
      <ng-template #notFoundTemplate2 let-notFound>
        <div [innerHTML]="'לא נמצאו תוצאות'"></div>
      </ng-template>
    </div>
  </div>
</div>

<!-- עד לפה חיפוש ומיון-->

<!-- המשימות שלי -->

<app-smart-card *ngIf="tableMyTaskOpen&&!ifThereAreTasks" [title]="titleTableTask">
  <div body>
    <app-smart-table [ifDeleteTask]="true" [ifUpdateTask]="true" [thArr]="thArrTask" [ifSortDown]="ifSortDown"
      [tableDataKeys]="taskListKeys" [tableData]="taskArr" (DeleteTaskIcon)="DeleteTask($event)"
      (EditProjectContentItemIcon)="editProjectContentItemIcon($event)" (SortTableDown)="SortTableDown($event)"
      (SortTableUp)="SortTableUp($event)" (SelectedData)="SelectedTask($event)"
      [showMassgeToUserDeleteTask]="true" [ifDeleteOpen]="isPopUpOpen?.DeleteTask"  [ifUpdateOpen]="isPopUpOpen?.UpdateProjectContentItemDetails">
    </app-smart-table>
  </div>
</app-smart-card>


<div *ngIf="ifThereAreTasks">
  <br>
  <h2>אין משימות פעילות!</h2>
</div>



<!-- <app-smart-card class="task-card-timer" (clickCloseCard)="clickCloseCard()" [ifX]="true"
    *ngIf="tableSpecificTaskOpen" [title]="titleCard" [arrFunc]="arrFunc" [isDisabledStart]="isDisabledStart"
    [textButtonBack]="textButtonBack" (clickBackToMyTask)="BackToMyTask()">
    <div body>
      <app-specific-task [listData]="taskListDataDetails" [listDataKeys]="taskListKeys"
        [isDisabledEnd]="isDisabledEnd" [isDisabledPouse]="isDisabledPouse" [isDisabledStart]="isDisabledStart"
        [nameOfFunc]="nameOfFunc" [val]="val" (clickStartTimer)="SelectedStart()"
        (getDataClickOfButton)="whichButtonChoose($event)" (clickPauseTimer)="SelectedStop($event)"
        (clickdeleteTimer)="SelectedEnd($event)" [workTime]="workTime">
      </app-specific-task>
    </div>
  </app-smart-card> -->

<!-- <div *ngIf="ifThereAreprojectContentItem">
    <app-smart-card *ngIf="tableSpecificTaskOpen" [title]="titleTableProjectContentItemComponent">
      <div body>
        <app-project-content-item [kindOfCard]="'tableCard'" [title]="'דיווחי שעות'"
          [thArr]="thArrTableProjectContentItem" [tableData]="projectContentItemArr"
          [tableDataKeys]="projectContentItemListKeys"></app-project-content-item>
      </div>
    </app-smart-card>
  </div> -->
<div *ngIf="isPopUpOpen?.UpdateProjectContentItemDetails">
  <app-update-project-content-item [kindUpdate]="'updateTaskDetails'" [project]="project" [workType]="workType"
    [ifUpdateTask]="true" [header]="'עדכון משימה'" [ProjectContentItem]="projectContentItem">
  </app-update-project-content-item>
</div>

<div *ngIf="isPopUpOpen?.DeleteProjectContentItemIcon">
  <app-delete-project-content-item [projectContentItemGuidOrTaskGuid]="projectContentItemGuid">
  </app-delete-project-content-item>
</div>

<div *ngIf="isPopUpOpen?.DeleteTask">
  <app-delete-task [TaskGuid]="TasksGuid">
  </app-delete-task>
</div>