button {
    border-color: white;
    background-color: white;
    border: none;
}

.search {
    display: flex;
    justify-content: center;
}

.input-container {
    margin: 1rem;
}

h2 {
    text-align: center;
    color: rgba(6, 6, 19, 0.795);
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}


.input-container {
    margin: 1rem;
}

.search {
    display: flex;
    justify-content: space-around;
    direction: rtl;
    margin-bottom: 1rem;

}

.autocomplete-1,
.autocomplete-2,
.autocomplete-3,
#inputState-1 {
    min-width: 20%;
}

#inputState-2 {
    width: 13rem;
    min-width: 13rem;

}

select#inputState {
    margin-top: 1.2rem;
}
.searchProject{
display: flex;

}