a {
    text-decoration: none;
}

/* @media screen and (max-width: 600px) {
    .card-content {
        width:100vw;
    }
} */
h3 {
    font-size: x-large;
}

.card-title {
    text-align: center;
}

.chart-button {
    border-color: white;
    background-color: white;
    border: none;
    direction: ltr;
}

.back2 {
   display: flex;
   margin-left: auto;
    direction: ltr
}

img {
    height: 50px;
    width: 50px;
    margin-bottom: 0.5rem
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    border-radius: 8px;
    background-color: #fff;
    width: 90%;
    margin: auto;
    padding: 20px;
  }