<div class="menu">
    <div class="card card-of-task">
        <a *ngIf="ifX" class="close" (click)="closeCard()">&times;</a>
        <div class="back" *ngIf="'bla'">
            <button class="btn btn-color" *ngIf="textButtonBackToMyTask"
                (click)="backToMyTask()">{{textButtonBackToMyTask}}
            </button>
        </div>
        <div class="card-body">
            <h3 class="card-title"> {{title}}</h3>
            <div class="body ">
                <ng-content select="[body]"></ng-content>
            </div>
            <div class="footer">
                <ng-content select="[footer]"></ng-content>
            </div>
        </div>
    </div>
</div>