<app-smart-card [title]="title" [src]="'../../../assets/images/4285519.png'">
  <div body>
    <div class="form-outline d-flex justify-content-center">
      <select id="inputState" class="form-control" ngModel (ngModelChange)="getDetailsOfWorkingHourByEmployee($event)">
        <option value="">--בחר אחת מהאופציות הבאות--</option>
        <option value="1"> החודש </option>
        <option value="2"> חודש קודם</option>
        <option value="3">מיון לפי טווח תאריכים </option>
      </select>
    </div>
    <ng-container *ngIf="showInputsDates">
      <div class="form-group ">
        <div class="input-group input-daterange">
          <input type="date" class="form-control" id="date" name="date" [ngModel]=" todayDate| date: 'yyyy-MM-dd'"
            (ngModelChange)="fromDate = $event">
          <div class="input-group-addon">ל - </div>
          <input type="date" class="form-control" [ngModel]=" todayDate| date: 'yyyy-MM-dd'"
            (ngModelChange)="untilDate = $event">
        </div>
        <button (click)="sortByDateRange()" placement="right" ngbTooltip="השווה מידע בין 2 התאריכים"
          class="btn btn-color">השווה</button>
      </div>
    </ng-container>
    <p> סה"כ שעות מדווחות : <span>{{hoursReportedThisMonth}}</span> </p>
    <p> סה"כ שעות עבודה : <span>{{workingDaysThisMonth}}</span> </p>

    <app-smart-table [ifCreateReport]="true" [ifShowpagination]="[true,10]" [ifShowXorVIcons]="true" [ifTrIsNull]="true"
      [thArr]="thArrWorkingHours" [ifSortDown]="ifSortDown" [tableDataKeys]="WorkingHoursListKeys"
      [tableData]="detailsOfWorkingHourByEmployeeToSend" (SortTableDown)="SortTableDown($event)"
      (ShowProjectContentItemBySpecificDay)="getReportsBySpesificDate($event)" (SortTableUp)="SortTableUp($event)"
      (CreateReport)="createReport($event)" [ifUpdateOpen]="isPopUpOpen?.createAprojectContentItem"
      [showProjectContentItemBySpecificDay]="true">
    </app-smart-table>
    <!-- <div *ngIf="taskTeamsArr?.length<1">
          <br>
          <h2>אין משימות פעילות!</h2>
        </div> -->
  </div>
</app-smart-card>
<div *ngIf="isPopUpOpen?.createAprojectContentItem">
  <app-create-aproject-content-item [dateToUpdate]="dateToUpdate"></app-create-aproject-content-item>
</div>
<div *ngIf="isPopUpOpen?.ProjectContentItemBySpesificDate">
  <app-pop-up [ifX]="true">
    <h4 header class="mb-4"></h4>
    <div body>
      <app-smart-card [title]="title +' לתאריך ' + spesificDate">
        <div body>
          <app-smart-table *ngIf="reportsBySpesificDate.length > 0" [ifShowpagination]="[true,3]" [thArr]="thArrTableProjectContentItem"
            [tableData]="reportsBySpesificDate" [tableDataKeys]="projectContentItemListKeys">
          </app-smart-table>
          <div *ngIf="reportsBySpesificDate.length < 1">
            <br>
            <h2>אין דיווחים בתאריך זה!</h2>
          </div>
        </div>
      </app-smart-card>
    </div>
  </app-pop-up>
</div>
<!-- <ng-container>
    <app-modal *ngIf="isPopUpOpen?.ProjectContentItemBySpesificDate" (pleaseClose)="closeDialog($event)" [class]="'large-dialog'" #appModalConfirmation>
      <div header>this is the header</div>
      <div body><app-smart-table *ngIf="reportsBySpesificDate.length > 0"  [thArr]="thArrTableProjectContentItem" [tableData]="reportsBySpesificDate"
        [tableDataKeys]="projectContentItemListKeys">
      </app-smart-table>
          <div *ngIf="reportsBySpesificDate.length < 1">
      <br>
      <h2>אין דיווחים בתאריך זה!</h2>
    </div> </div>
     </app-modal>
  </ng-container>  -->