.btn-color{
    background-color:#f1b93c;
    color: rgb(15, 13, 13);
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: contain;
  }
  
  
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #0343b9;
  }


.passwordBtn{
  position: relative;
}
#togglePassword{
  position: absolute;
  top: 10px;
  left: 80px;
  display: flex;
  justify-content: left;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  border-radius: 8px;
  background-color: #fff;
  max-width: 100%;
  min-width: 40%;
  margin: auto;
  padding: 20px;
  overflow-x: hidden;
}

  