.btn-color{
    background-color:#f1b93c;
    color: rgb(15, 13, 13);
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: contain;
  }
  
  
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #0343b9;


  }


.passwordBtn{
  position: relative;
}
#togglePassword{
  position: absolute;
  top: 10px;
  left: 80px;
  display: flex;
  justify-content: left;
}



  