<div class="menu">
    <div class="card">
        <div class="card-body">
            <img src="../../assets/images/image (2).png"
                class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
            <form (ngSubmit)="Login(f)" #f="ngForm">
                <div class="mb-3">
                    <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                        placeholder="שם משתמש" #SystemUserName="ngModel" name="SystemUserName" ngModel>
                </div>
                <div class="mb-3 passwordBtn">
                    <input [type]="show_button ? 'text' : 'password'" class="form-control" id="password"
                        aria-describedby="passwordHelp" placeholder="סיסמה" #password="ngModel" name="password"
                        ngModel />
                    <i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" id="togglePassword" placement="bottom"
                        ngbTooltip="הצג/הסתר סיסמה " style="margin-left: -70px; cursor: pointer;"
                        (click)="showPassword()"></i>
                </div>
                <div class="text-center"><button type="submit" class="btn btn-color w-50">התחבר</button>
                </div>
                <a href="">שכחתי סיסמה</a>

            </form>
        </div>
    </div>
</div>