.search {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        direction: rtl;
        margin-bottom: 1rem;
        align-items: center;
    }
}

#inputState-1 {
    width: 16rem;
}