<!-- חיפוש ומיון -->

<h2>
  {{titleTableTeamsTask}}  <img src="../../../assets/images/2387679.png" alt="" >
</h2>
<div class="select-table">
  <select id="inputState-1" class="form-control" ngModel (ngModelChange)="WhichTableOpen($event)">
    <option value="0">המשימות שלי </option>
    <option value=""> המשימות של הצוותים אליהם אני שייך</option>
    <option value="2">המשימות האחרונות שעבדתי עליהן </option>
    <option value="3">משימות לתמחור </option>

  </select>
</div>
<!-- המשימות האחרונות שעבדתי עליהן -->
<app-smart-card>
  <div body>

    <app-search-and-sort-tasks *ngIf="taskTeamsArr"  (GetTaskAfterSort)="getTaskAfterSort($event)" [taskArr]="taskTeamsArr" [taskArrCopy]="taskTeamsArrCopy"></app-search-and-sort-tasks>
    <app-smart-table [ifUpdate]="true" [ifShowpagination]="[true,10]" [thArr]="thArrTaskTeams" [ifSortDown]="ifSortDown"
      [tableDataKeys]="taskTeamsListKeys" [tableData]="taskTeamsArr"
      (DeleteProjectContentItemIcon)="deleteProjectContentItemIcon($event)"
      (EditProjectContentItemIcon)="editProjectContentItemIcon($event)" (SortTableDown)="SortTableDown($event)"
      (SortTableUp)="SortTableUp($event)"  [ifUpdateOpen]="isPopUpOpen?.UpdateProjectContentItemDetails">
    </app-smart-table>
    <div *ngIf="taskTeamsArr?.length==0">
      <br>
      <h2>אין משימות פעילות!</h2>
    </div>
    <div *ngIf=" !taskTeamsArr">
      <h2>רק רגע...</h2>
    </div>
  </div>
</app-smart-card>

<div *ngIf="isPopUpOpen?.UpdateProjectContentItemDetails">
  <app-update-project-content-item [kindUpdate]="'updateTaskDetails'" [project]="Regarding" [workType]="workType"
    [ifUpdateTask]="true" [header]="'עדכון משימה'" [ProjectContentItem]="projectContentItem">
  </app-update-project-content-item>
</div>