.card-title {
    text-align: center;
}

.DailyAndMonthlyWorkingHoursC h6 {
    font-size: medium;
}

.p-of-title {
    text-align: right;
    color: rgba(6, 6, 19, 0.795);
    font-size: 40pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.profile-image-pic {
    height: 65px;
    width: 65px;
    object-fit: cover;
    direction: rtl;
    margin-right: 15px;
}

.aImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.aImg2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.fa-plus {
    padding-left: 2rem;
    margin-top: 2rem;
}

.fa-sign-out {
    padding-right: 4rem;
    /* margin-top: 2rem; */
}

.input-group {
    justify-content: center;
}

.btn {
    margin-right: 1rem;
    height: calc(1.5em + 0.75rem + 2px);
}

.form-control {
    width: 15rem;
}

.a {
    width: 30rem;
}

.fa-coffee,
.fa-calendar-check-o,
.fa-edit,
.fa-bar-chart,
.fa-home,
.fa-pencil,
.fa-clock-o {
    padding: 1rem;
    font-size: 25px
}

.fa-sign-out {

    padding: 1rem;
    font-size: 40px
}

h2 {
    text-align: center;
    color: rgba(6, 6, 19, 0.795);
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.fa-search {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}


.p-of-title {
    margin-right: 11rem;
}

.my-3 {
    margin-top: 0rem !important;
}
.fa-bell {
    font-size: 38px;
}

@media (max-width: 670px) {
    .p-of-title {
        font-size: 2rem;
        margin-top: 6rem;
    }

    
    .fa-sign-out,.fa-bell ,i.fa.fa-bars {
        
        font-size: 30px;
    }

    .profile-image-pic {
        height: 40px;
        width: 40px;
    }
}




.form-control {
    width: 18rem;

}

.logout {
    width: 10px;
    height: 10px;
}

.iconify {
    font-size: 31px;
    /* padding: 1rem; */
    margin: 0.8rem;
    margin-bottom: 1.5rem;
}

.goToHome,
.goTochart {
    color: rgb(188, 183, 183);
}

svg#clock-history {
    color: red;
    font-size: 30px;
}

.form-outline .autoComplete {
    border: 0.01rem solid rgb(220 217 217);
    border-radius: 5px;
    text-decoration: underline;
}

.row {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
}

.ThereNoNewTask {
    color: rgb(0, 0, 0);
}

.ThereNewTask {
    color: red;
}

.ThereNoMessege {
    color: rgb(0, 0, 0);
    padding-right: 4px;
}

.ThereNewMessege {
    color: red;
    padding-right: 4px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.a {
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
}

.fa-bars {
    margin: 1rem;
    font-size: 2.5rem;
}


body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}

.side-nav-bar {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
    .side-nav-bar-overlay {
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }

    .side-nav-bar-menu-container {
        position: absolute;
        top: 0;
        bottom: 0;
        background: #FFF;
        display: flex;
        flex-direction: column;
        width: 6rem;
    }
        .side-nav-bar-close {
            display: inline-block;
            font-size: 2.5em;
            margin: 24px 0px 0px 24px;
            cursor: pointer;
        }
    

   

.side-nav-bar-overlay-collapsed {
    background: transparent !important;
}

.side-nav-bar-collapsed {
    visibility: collapse !important;
}
a.close {
    font-size: 2em;
    margin-top: 1rem;
}
.close{
    width: 90%;
}
.side-nav-bar-content-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
