<div class="all-page">
  <div class="aImg">
    <a (click)="GoToHome()"> <i class="fa fa-home" aria-hidden="true"></i></a>
    <a (click)="openPopUp('creatTask',true)"><i class="fa fa-edit"></i></a>
    <a (click)="openPopUp('createAprojectContentItem',true)"><span class="iconify"
        data-icon="fluent:task-list-add-20-filled"></span>
    </a>
    <a (click)="openPopUp('MyprojectContentItem',true)"><i class="fa fa-calendar-check-o"></i>
    </a>
    <a (click)="openPopUp('pause',true)"><i class="fa fa-coffee"></i></a>
    <a (click)="openPopUp('timeOfProjectContectItem',true)"><i class="fa fa-clock-o" aria-hidden="true"></i></a>

    <a (click)="GoToStatisticsGraph()"><i class="fa fa-bar-chart" aria-hidden="true"></i> </a>
    <div *ngIf="startWorkOfTask" >
    <a (click)="CheckWhetherInTheMiddleOfWorkOnaTask(); ContinueToWorkOnATask()"><i id="clock-history"
        class="iconify" data-icon="bi:clock-history"></i></a></div>
    <p class="p-of-title ">דיווחי שעות </p>
    <div class="aImg2">
      <div class="DailyAndMonthlyWorkingHoursC">
        <h6>סה"כ שעות עבודה להיום: {{DailyAndMonthlyWorkingHours?.DailyWorkingHours |number}}</h6>
        <h6>סה"כ שעות עבודה לחודש זה: {{DailyAndMonthlyWorkingHours?.MonthlyWorkingHours |number}}</h6>
      </div>
      <a (click)="Logout()"><i class="fa fa-sign-out " aria-hidden="true"></i></a>
      <a #personalDetails id="personalDetails" (click)="ClickPersonalDetails()" (clickOutside)="mouseLeavePersonalDetails()">
        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
          class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" alt="profile">
      </a>

    </div>
  </div>




<div class="menu" *ngIf="!openMyProjectContectItem">
  <div *ngIf="tableMyTaskOpen||tableMyTaskTeamsOpen||tableLastTaskIWorkedOn" class="input-group">
    <div class="form-outline">
      <!-- <input id="typeahead-format" type="text" class="form-control" placeholder="חפש לפי פרוייקט" [(ngModel)]="model"
          [ngbTypeahead]="search" (change)="onSearchProject(model)" /> -->
        <div class="form-outline d-flex justify-content-center">
          <select id="inputState" class="form-control" ngModel name="SourceTask" #SourceTask="ngModel"
            (ngModelChange)="onSearchProject($event)">
            <option value="">חפש לפי פרוייקט</option>
            <option *ngFor="let project of projectArr" value="{{project.Name}}">
              {{project.Name}}
            </option>
          </select>
        </div>

        <select id="inputState" class="form-control" ngModel (ngModelChange)="WhichTableOpen($event)">
          <option value="">--בחר אחת מהאופציות הבאות--</option>
          <option value="0">המשימות שלי </option>
          <option value="1"> המשימות של הצוותים אליהם אני שייך </option>
          <option value="2">המשימות האחרונות שעבדתי עליהן </option>

        </select>
      </div>
      <i class="fa fa-search"></i>
    </div>

<div *ngIf="isPopUpOpen?.timeOfProjectContectItem"> 
  <app-project-contect-item-with-time></app-project-contect-item-with-time>
</div>

    <!-- המשימות שלי -->
    <app-smart-card *ngIf="tableMyTaskOpen&&tableMyTaskOpen1" [title]="titleTableTask">
      <div body>
        <app-show-my-task (clickSelectedTask)="SelectedTask($event)" [hideProjectTh]="hideProjectTh"
          [kindOfCard]="'tableCard'" [thArr]="thArrTask" (getDataClickOfButton)="whichButtonChoose($event)"
          [tableData]="taskArr" [tableDataKeys]="taskListKeys">
        </app-show-my-task>
      </div>
    </app-smart-card>
    <!-- המשימות של הצוותים שלי -->
    <app-smart-card *ngIf="tableMyTaskTeamsOpen&&tableMyTaskTeamsOpen1" [title]="titleTableTeamsTask">
      <div body>
        <app-show-my-task (clickSelectedTask)="SelectedTask($event)" [hideProjectTh]="hideProjectTh"
          [kindOfCard]="'tableCard'" [thArr]="thArrTaskTeams" (getDataClickOfButton)="whichButtonChoose($event)"
          [tableData]="taskTeamsArr" [tableDataKeys]="taskTeamsListKeys">
        </app-show-my-task>
      </div>
    </app-smart-card>
    <!-- המשימות שעבדתי עליהן לאחרונה -->
    <app-smart-card *ngIf="tableLastTaskIWorkedOn&&tableMyTaskTeamsOpen1" [title]="titleLastTaskIWorkedOn">
      <div body>
        <app-show-my-task (clickSelectedTask)="SelectedTask($event)" [hideProjectTh]="hideProjectTh"
          [kindOfCard]="'tableCard'" [thArr]="thArrTaskTeams" (getDataClickOfButton)="whichButtonChoose($event)"
          [tableData]="sortTaskArr" [tableDataKeys]="taskTeamsListKeys">
        </app-show-my-task>
      </div>
    </app-smart-card>
    <div *ngIf="ifThereAreTasks">
      <br>
      <h2>אין משימות פעילות!</h2>
    </div>




    <app-smart-card class="task-card-timer" (clickCloseCard)="clickCloseCard()" [ifX]="true"
      *ngIf="tableSpecificTaskOpen" [title]="titleCard" [arrFunc]="arrFunc" [isDisabledStart]="isDisabledStart"
      [textButtonBack]="textButtonBack" (clickBackToMyTask)="BackToMyTask()">
      <div body>
        <app-specific-task [listData]="taskListDataDetails" [listDataKeys]="taskListKeys"
          [isDisabledEnd]="isDisabledEnd" [isDisabledPouse]="isDisabledPouse" [isDisabledStart]="isDisabledStart"
          [nameOfFunc]="nameOfFunc" [val]="val" (clickStartTimer)="SelectedStart()"
          (getDataClickOfButton)="whichButtonChoose($event)" (clickPauseTimer)="SelectedStop($event)"
          (clickdeleteTimer)="SelectedEnd($event)" [workTime]="workTime">
        </app-specific-task>
      </div>
    </app-smart-card>
    <div *ngIf="ifThereAreprojectContentItem">
      <app-smart-card *ngIf="tableSpecificTaskOpen" [title]="titleTableProjectContentItemComponent">
        <div body>
          <app-project-content-item [kindOfCard]="'tableCard'" [title]="'דיווחי שעות'"
            [thArr]="thArrTableProjectContentItem" [tableData]="projectContentItemArr"
            [tableDataKeys]="projectContentItemListKeys"></app-project-content-item>
        </div>
      </app-smart-card>
    </div>
    <!-- <app-project-content-item ></app-project-content-item> -->

  </div>


  <app-smart-card *ngIf="openMyProjectContectItem" [title]="' דיווחים  שלי'">
    <div body>
      <div class="form-outline d-flex justify-content-center">
        <select id="inputState" class="form-control" ngModel (ngModelChange)="GetMyProjectContectItem($event)">
          <option value="">--בחר אחת מהאופציות הבאות--</option>
          <option value="1"> היום </option>
          <option value="2"> 7 ימים אחרונים </option>
          <option value="3"> שבוע שעבר </option>
          <option value="4"> החודש האחרון</option>
        </select>
      </div>
      <div *ngIf="showMassegeNoProjectContectItem">
        <br>
        <h2>אין דיווחים  !</h2>
      </div>
      <div *ngIf="!showMassegeNoProjectContectItem">
        <app-my-project-contect-items (clickSelectedTask)="SelectedTask($event)" [kindOfCard]="'tableCard'"
          [thArr]="thArrTableProjectContentItem" (getDataClickOfButton)="GetMyProjectContectItem($event)"
          [tableData]="MyProjectContectItemArr" [tableDataKeys]="projectContentItemListKeys">
        </app-my-project-contect-items>
      </div>
    </div>
  </app-smart-card>


  <div *ngIf="isPopUpOpen?.creatTask">
    <app-create-new-task></app-create-new-task>
  </div>

  <div *ngIf="isPopUpOpen?.updateTask">
    <app-update-an-existing-task></app-update-an-existing-task>
  </div>

  <div *ngIf="isPopUpOpen?.endTask">
    <app-end-of-task></app-end-of-task>
  </div>

  <div *ngIf="openPersonalDetails">
    <app-personal-details (openPopUp)="openPopUp($event.date,$event.type)"
      (closePersonalDetails)="closePersonalDetails()"></app-personal-details>

  </div>

  <div *ngIf="isPopUpOpen?.ceateAprojectContentItem">
    <app-create-aproject-content-item [MyTask]="taskArr"></app-create-aproject-content-item>
  </div>
  <div *ngIf="isPopUpOpen?.sickLeave">
    <app-sick-leave-project-content-item [project]="projectArr" [myTask]="taskArr" [todayDate]="todayDate"
      [workType]="workTypeArr"></app-sick-leave-project-content-item>
  </div>
  <div *ngIf="isPopUpOpen?.Freedom">
    <app-freedom-project-content-item  [project]="projectArr"  [myTask]="taskArr" [todayDate]="todayDate"
      [workType]="workTypeArr"></app-freedom-project-content-item>
  </div>


  <div *ngIf="showMassgeToUser">
    <app-pop-up>
      <div body>
        <app-massge-to-user [kindOfMassage]="kindOfMassageIsifCloseTask" [massgeUserHeader]="massgeUserCloseTaskHeader"
          [massgeUserBody1]="massgeUserCloseTaskBody" [massgeUserBody2]="massgeUserCloseTaskFooter"
          (clickYes)="clickYes($event)" (clickNo)="clickNo($event)" [ifButton]="true"></app-massge-to-user>
      </div>
    </app-pop-up>
  </div>

  <div *ngIf="showMassgeToUserIfInTheMiddleOfWorkOnATask">
    <app-pop-up>
      <div body>
        <app-massge-to-user [kindOfMassage]="kindOfMassageifInTheMiddleOfWorkOnATask"
          [massgeUserBody1]="massgeUserIfInTheMiddleOfWorkOnATaskBody"
          [massgeUserHeader]="massgeUseIfInTheMiddleOfWorkOnATaskHeader"
          [massgeUserBody1]="massgeUserIfInTheMiddleOfWorkOnATaskBody" [massgeUserBody2]="taskNameFromLocalStorage"
          (clickYes)="clickYes($event)" (clickNo)="clickNo($event)" [ifButton]="true"></app-massge-to-user>
      </div>
    </app-pop-up>
  </div>

  <div *ngIf="showMassgeToUserIfInTheMiddleOfWorkOnATaskAndOpenPause">
    <app-pop-up>
      <div body>
        <app-massge-to-user [kindOfMassage]="kindOfMassageifInTheMiddleOfWorkOnATaskkAndOpenPause"
          [inputValue]="taskNameFromLocalStorage2"
          [massgeUserBody1]="massgeUserIfInTheMiddleOfWorkOnATaskAndOpenPauseBody"
          [massgeUserHeader]="massgeUserIfInTheMiddleOfWorkOnATaskAndOpenPauseHeader" [ifButton]="true"
          [massgeUserBody1]="" (clickYes)="clickYes($event)" (clickNo)="clickNo($event)"></app-massge-to-user>
      </div>
    </app-pop-up>
  </div>

  <div *ngIf="showMassgeToUserIfInTheMiddleOfPauseAndRefreshWebsite">
    <app-pop-up>
      <div body>
        <app-massge-to-user [kindOfMassage]="kindOfMassageifInTheMiddleOfPauseAndRefreshWebsite"
          [massgeUserHeader]="massgeUserRefreshWebsiteInMiddlePauseBody"
          [massgeUserBody1]="massgeUserRefreshWebsiteInMiddlePauseHeader"
          [massgeUserBody2]="massgeUserRefreshWebsiteInMiddlePauseFooter" [ifButton]="true"
          (clickYes)="clickYes($event)" (clickNo)="clickNo($event)"></app-massge-to-user>
      </div>
    </app-pop-up>
  </div>
  <div *ngIf="showMassgeToUseMIfFinishtasklesstime">
    <app-pop-up>
      <div body>
        <app-massge-to-user [kindOfMassage]="kindOfMassageUserFinishtasklesstime"
          [massgeUserHeader]="massgeUserFinishtasklesstimeHeader" [massgeUserBody1]="massgeUserFinishtasklesstimeBody"
          [massgeUserBody2]="massgeUserFinishtasklesstimeBody2"></app-massge-to-user>
      </div>
    </app-pop-up>
  </div>

  <div *ngIf="isPopUpOpen?.pause">
    <app-pause-work [buttonEnd]="endButton" [workTime]="workTime">
    </app-pause-work>
  </div>

  <div *ngIf="showstatiSticsGraph">
    <app-statistics-graph></app-statistics-graph>
  </div>
