.card-title {
    text-align: center;
}

.p-of-title {
    text-align: center;
    color: rgba(6, 6, 19, 0.795);
    font-size: 40pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.profile-image-pic {
    height: 65px;
    width: 65px;
    object-fit: cover;
    direction: rtl;
    margin-right: 15px;
}

.aImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-plus {
    padding-left: 2rem;
    margin-top: 2rem;
}

.input-group {
    justify-content: center;
}

.btn {
    margin-right: 1rem;
    height: calc(1.5em + 0.75rem + 2px);
}

.form-control {
    width: 15rem;
}

.a {
    width: 30rem;
}

.fa-coffee,
.fa-calendar-check-o,
.fa-edit {
    padding: 1rem;
}

h2 {
    text-align: center;
    color: rgba(6, 6, 19, 0.795);
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.fa-search {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}
.p-of-title {
    padding: 1rem;
    margin-right: 5rem;
}

.my-3 {
    margin-top: 0rem !important;
}

@media (max-width: 650px) {
    .p-of-title {
        font-size: 1.8rem;
    }
}

@media (min-width: 651px) {
    .p-of-title {
        font-size: 3rem;
    }
}

@media (max-width: 550px) {
    .p-of-title {
        font-size: 1.4rem;
    }
    .fa-edit{
        font-size:30px
    }
}

.form-control {
    width: 18rem;

    }