
.input-container {
    margin: 1rem;
}
.search{
    display: flex;
    justify-content:space-around ;
    direction: rtl;
    margin-bottom: 1rem;

}

.autocomplete-1,.autocomplete-2,.form-control{
    min-width: 20%;
}

select#inputState {
    margin-top: 1.2rem;
}