 .form-group {
    display: flex;
    direction: rtl;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.input-group {
    width: 30rem;
}
.btn {
    margin-right: 1rem;

}
 .input-group-addon {
    padding: 0.5rem
} 