    
<app-pop-up #upPopUP [ifX]="true"  >
    <h4 header class="mb-4">יצירת משימה</h4>
    <div body>
        <form (ngSubmit)="f.valid && CreateNewTask(f)" #f="ngForm">
            <div class="form-outline d-flex justify-content-center">
                <input type="date" id="date" name="date" value="{{todayDate| date: 'yyyy-MM-dd' }}" class="form-control"
                    placeholder="תאריך " />
            </div>
            <div class="form-outline d-flex justify-content-center">
                <input type="text" id="Subject" name="Subject" class="form-control" placeholder="נושא המשימה*"
                [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }"   #subject="ngModel" ngModel required/>
            </div>
            <div *ngIf="f.submitted && subject.invalid" class="text-danger">
                <span *ngIf="subject.errors">שדה זה חובה</span>
              </div>
              <div class="form-outline d-flex justify-content-center mb-4">
                <ng-autocomplete style="width: 100%;" class="autoComplete" [data]="workTypeArr" [searchKeyword]="'Name'" placeholder="סוג עבודה" 
                historyIdentifier="workType" [itemTemplate]="itemTemplate" 
                 ngModel name="workType" #workType="ngModel" required [notFoundTemplate]="notFoundTemplate">
             </ng-autocomplete>
             <ng-template #itemTemplate let-item >
                 <a [innerHTML]="item.Name"></a>
             </ng-template>
             <ng-template #notFoundTemplate let-notFound>
                 <div [innerHTML]="'לא נמצאו תוצאות'"></div>
             </ng-template>
            </div>
            <div *ngIf="f.submitted && workType.invalid" class="text-danger">
                <span *ngIf="workType.errors">שדה זה חובה</span>
              </div>
            <div class="form-outline d-flex justify-content-center ">
                <textarea style="max-height:100%;" type="text" id="Description" name="Description"
                    class="form-control textarea" placeholder=" תאור המשימה  " #Description="ngModel"
                    ngModel></textarea>
            </div>
            <div class="form-outline d-flex justify-content-center mb-4">
                <ng-autocomplete style="width: 100%;" [data]="projectArr" [searchKeyword]="'Name'" placeholder="  פרויקט" 
                historyIdentifier="project" class="autoComplete" [itemTemplate]="itemTemplate" 
                 ngModel name="project" #project="ngModel" required [notFoundTemplate]="notFoundTemplate">
             </ng-autocomplete>
             <ng-template #itemTemplate let-item >
                 <a [innerHTML]="item.Name"></a>
             </ng-template>
             <ng-template #notFoundTemplate let-notFound>
                 <div [innerHTML]="'לא נמצאו תוצאות'"></div>
             </ng-template>
            </div>
            <div *ngIf="f.submitted && project.invalid" class="text-danger">
                <span *ngIf="project.errors">שדה זה חובה</span>
              </div>
            <div class="form-outline d-flex justify-content-center">
                <select id="inputState" class="form-control" name="BillableHours" #billableHours="ngModel" ngModel 
                [ngClass]="{ 'is-invalid': f.submitted && billableHours.invalid }" required>
                    <option value="">?האם שעות לחיוב*</option>
                    <option value="1">כן </option>
                    <option value="2">לא</option>
                    <option value="970140002">אחר</option>
                </select>
            </div>
            <div *ngIf="f.submitted && billableHours.invalid" class="text-danger">
                <span *ngIf="billableHours.errors">שדה זה חובה</span>
              </div>
            <!-- לגבי כרגע לא צריך! -->
            <!-- <div class="form-outline d-flex justify-content-center">
                <select id="inputState" class="form-control" name="Regardingobject"
                [ngClass]="{ 'is-invalid': f.submitted && regardingobject.invalid }" #regardingobject="ngModel" ngModel required>
                    <option value="">לגבי*</option>
                    <option *ngFor="let Regardingobject of RegardingobjectArr" value="{{Regardingobject.Guid}}">
                        {{Regardingobject.Name}}</option>
                </select>
            </div>
            <div *ngIf="f.submitted && regardingobject.invalid" class="text-danger">
                <span *ngIf="regardingobject.errors">שדה זה חובה</span>
              </div> -->

            <button type="submit" placement="bottom"
            ngbTooltip="יצירת משימה חדשה" class="btn" [disabled]="isDisabled">צור משימה חדשה</button>

        </form>
    </div>

</app-pop-up>