<h2>
   {{titleTable}} <img src="../../../assets/images/4285519.png" alt="" >
</h2>
<div class="form-outline d-flex justify-content-center">
  <select id="inputState" class="form-control" ngModel (ngModelChange)="getDetailsOfWorkingHourByEmployee($event)">
    <option value=""> החודש </option>
    <option value="2"> חודש קודם</option>
    <option value="3">מיון לפי טווח תאריכים </option>
  </select>
</div>
<app-smart-card>
  <div body>
    
    <ng-container *ngIf="showInputsDates">
      <div class="form-group ">
        <div class="input-group input-daterange">
<!-- <<<<<<< HEAD

          <input type="date" class="form-control" id="date" name="date" [ngModel]=" todayDate| date: 'yyyy-MM-dd'"
            (ngModelChange)="fromDate = $event" max="{{todayDate | date: 'yyyy-MM-dd'}}">
          <div class="input-group-addon">עד - </div>
          <input type="date" class="form-control" [ngModel]=" todayDate| date: 'yyyy-MM-dd'" max="{{todayDate | date: 'yyyy-MM-dd'}}"
            (ngModelChange)="untilDate = $event"> -->

          <input type="text" class="form-control" id="date" name="date" onmouseover="this.type='date'"
            [(ngModel)]="fromDate" placeholder="מתאריך">
          <div class="input-group-addon">עד - </div>
          <input type="text" class="form-control" onmouseover="this.type='date'" placeholder="לתאריך"
          [(ngModel)]="untilDate">
        </div>
        <button (click)="sortByDateRange()" placement="right" ngbTooltip="סנן מידע בין טווח התאריכים"
          class="btn btn-color">מיין</button>
      </div>
    </ng-container>
    <ng-container  >
    <p> סה"כ שעות מדווחות החודש: <span>{{hoursReportedThisMonth}}</span> </p>
    <p> סה"כ שעות עבודה לחודש זה: <span>{{workingDaysThisMonth}}</span> </p>
</ng-container>
    <app-smart-table  [ifCreateReport]="true" [ifShowXorVIcons]="true" [ifShowpagination]="[true,10]" [ifTrIsNull]="true"
      [thArr]="thArrWorkingHours" [ifSortDown]="ifSortDown" [tableDataKeys]="WorkingHoursListKeys"
      [tableData]="detailsOfWorkingHourByEmployeeToSend" (SortTableDown)="SortTableDown($event)"
      (SortTableUp)="SortTableUp($event)" (CreateReport)="createReportWithDate($event)"
       [ifUpdateOpen]="isPopUpOpen?.UpdateProjectContentItemDetails"
      (ShowProjectContentItemBySpecificDay)="getReportsBySpesificDate($event)"
      [showProjectContentItemBySpecificDay]="true">
    </app-smart-table>
    <div *ngIf="detailsOfWorkingHourByEmployee?.length==0">
      <br>
      <h2>עדיין אין דיווחי שעות לחודש זה!</h2>
    </div>
    <div *ngIf="!detailsOfWorkingHourByEmployee">
      <br>
      <h2>רק רגע...</h2>
    </div>
  </div>
</app-smart-card>
<div *ngIf="isPopUpOpen?.createAprojectContentItem">
  <app-create-aproject-content-item [dateToUpdate]="dateToUpdate"></app-create-aproject-content-item>
</div>

<div *ngIf="isPopUpOpen?.ProjectContentItemBySpesificDate">
  <app-pop-up [ifX]="true">
    <h4 header class="mb-4"></h4>
    <div body>
      <div class="create-report">
        <button (click)="createReport()" class="edit-button" placement="right"
          ngbTooltip="באפשרותך ליצור דיווח שעות ליום זה ">
          <span class="iconify" data-icon="fluent:task-list-add-20-filled"></span>
        </button>
      </div>
      <app-smart-card [title]="titleTable+' לתאריך ' + spesificDate">
        <div body>
          <app-smart-table *ngIf="reportsBySpesificDate.length > 0" [thArr]="thArrTableProjectContentItem"
            [tableData]="reportsBySpesificDate" [tableDataKeys]="projectContentItemListKeys">
          </app-smart-table>
          <div *ngIf="reportsBySpesificDate.length < 1">
            <br>
            <h2>אין דיווחים בתאריך זה!</h2>
          </div>
        </div>
      </app-smart-card>
    </div>
  </app-pop-up>
</div>

<app-pop-up-for-image *ngIf="ifShowSpinner">
  <div body class="body-content">
      <img src="../../assets/images/image_processing20210907-24087-1xvipj3.gif" id="pop-up-image" />
  </div>
</app-pop-up-for-image>