.canvas {
    display: block;
    width: 450px;
}
.btn{
    margin-right: 1rem;
}
.form-group{
    display: flex;
}
.input-group-addon
{
padding: 0.5rem
}
.label{
    border-color: orange;
}
.form-control{
    width: 16rem;
}
.all-canvas-page{
    display:flex;
    direction: rtl;
}
h2{
    background-color:rgb(6, 142, 6),
}