<app-smart-card [title]="'השוואה בן שעות עבודה לשעות בפועל'" class="task-card-timer">
  <div header>
   <br>
    <div class="form-outline d-flex justify-content-center">
      <select id="inputState" class="form-control"  ngModel (ngModelChange)="GetMyProjectContentItemByTimeLineChart($event)" >
        <option value="">--בחר אחת מהאופציות הבאות--</option>
        <option value="0" >מיון לפי טווח תאריכים </option>
        <option value="1" > היום </option>
        <option value="2"> ימים אחרונים 7</option>
        <option value="3"> החודש האחרון</option>
      </select>
    </div>
    <br>
    <ng-container *ngIf="showInputsDates">

      <div class="form-group ">
      <div class="input-group input-daterange">
        <input type="date" class="form-control" id="date" name="date" [ngModel]=" todayDate| date: 'yyyy-MM-dd'"
        (ngModelChange)="dateOfSearchBeforeForLineChart = $event">
        <div class="input-group-addon">ל - </div>
        <input type="date" class="form-control" [ngModel]=" todayDate| date: 'yyyy-MM-dd'"
        (ngModelChange)="dateOfSearchAfterForLineChart = $event">
      </div>
    <button (click)="SortByDateRange()" class="btn btn-color">השווה</button>

    </div>
</ng-container>
  </div>
  <div body>
    <div class="canvas ">
      <canvas id="lineChart">
      </canvas>
    </div>
    <br>
    <!-- <div class="row">
      <h6 class="col-md-4"> <span class="label label-default">ממוצע הפסקות:</span></h6>
      <h6  class="col-md-3">{{this.AverageBreaks | number }}</h6>
      <h6  class="col-md-3">= {{AverageBreaksByTimeLineChart.DiffrenceDay}}/ {{AverageBreaksByTimeLineChart.TotalBreakHours}}</h6>
   
    </div> -->
  </div>
  <div class="card-footer">
    <hr />
    <div class="card-stats">
      <i class="fa fa-check"></i> {{LineChartText}}
    </div>

  </div>
</app-smart-card>

<app-smart-card [title]="' השוואה בן שעות עבודה לשעות בפועל באחוזים'" class="task-card-timer">
  <div header>
    <div class="form-group ">
      <br>
      <div class="input-group input-daterange">
        <input type="date" class="form-control" [(ngModel)]="dateOfSearchAfterForBarChart"
          [ngModelOptions]="{standalone: true}">
        <div class="input-group-addon">ל - </div>
        <input type="date" class="form-control" [(ngModel)]="dateOfSearchBeforeForBarChart"
          [ngModelOptions]="{standalone: true}">
      </div>
      <button (click)="GetMyProjectContentItemByTimeBarChart()" class="btn btn-color">השווה</button>
    </div>
  </div>
  <div body>
    <div class="canvas ">
      <canvas id="BarChart">
      </canvas>
    </div>
  </div>
  <div class="card-footer">
    <hr />
    <div class="card-stats">
      <i class="fa fa-check"></i> {{LineChartText}}
    </div>
  </div>
</app-smart-card>