<div class="all-canvas-page">
  <div class="selectInCard">
    <app-smart-card [title]="' שעות עבודה חודשיות לעובדים'" class="task-card-timer">
      <div body class="body">
          <div class="form-outline d-flex justify-content-center">
            <select style="text-align:center;" id="inputState" class="form-control" ngModel
              (ngModelChange)="GetWorkTimeChartByWorkTime($event)">
              <option value="" [disabled]="true">--בחר אחת מהאופציות הבאות--</option>
              <option value="1"> מיון לפי טווח תאריכים</option>
              <option value="2">שעות עבודה היום</option>
              <option value="3">שעות עבודה בשבוע האחרון</option>
              <option value="4">שעות עבודה החודש</option>
            </select>
          </div>
          <div class="form-outline  inputDate ">
          <ng-container *ngIf="showCompareDatesAllEmployeeDetails">
            <div class="form-group ">
             
              <div class="input-group input-daterange">
                <input type="text" class="form-control" id="date" name="date" onfocus="this.type='date'"
                  [(ngModel)]="fromDate" placeholder="מתאריך">
                <div class="input-group-addon">עד - </div>
                <input type="text" class="form-control"  onfocus="this.type='date'" placeholder="לתאריך"
                [(ngModel)]="untilDate">
              </div>
              <button (click)="SortWorkTimeByDateRange()"
              class="btn btn-color">חפש</button>
            </div>
            
          </ng-container>
        </div>
        <div class="canvas ">
          <canvas id="BarChart">
          </canvas>
        </div>
      </div>
    </app-smart-card>
  </div>
  <app-smart-card [title]="'משימות פתוחות לעובדים'" class="task-card-timer">
    <div body class="body">
      <div class="canvas ">
        <canvas id="BarChart2">
        </canvas>
      </div>
    </div>
  </app-smart-card>
</div>