.date {
    display: flex;
    justify-content: right;
    /* margin-bottom: 0.5rem; */
    position: absolute;
    top: 10px;
    left: 50px;
    display: flex;
}

.InputWithText {
    position: relative;
}