<!-- <div class="actionArea">
    <app-smart-card>
        <div body>
            <a class="close" (click)="closePopUp()">&times;</a>
            <h5> הגדרות מערכת</h5>
            <button type="submit" class="btn" placement="bottom" 
            placement="bottom" ngbTooltip="יצירת פרויקט">יצירת
                פרויקט </button>
        </div>

    </app-smart-card>
</div> -->
<app-pop-up #upPopUP [ifX]="ifX"  >
    <h4 header class="mb-4">יצירת דיווח</h4>
    <div body>
        <h1>cdcdc</h1>
        </div>
</app-pop-up>