<app-pop-up #upPopUP [ifX]="ifX">
    <div body>
        <h4 header class="mb-4">דיווחי שעות </h4>
        <img src="../../../assets/images/3264753.png"  class="image my-3" alt="profile">
        
        <div class="form-outline d-flex justify-content-center">
            <button class="btn" *ngIf="!endButtonTimerContectProjectContectItem"
                (click)="startTimerProjectContectItem()">התחל דיווח </button>
            <p *ngIf="TimeProjectContectItemHour" class="Time">
                {{TimeProjectContectItemHour}}
            </p>
        </div>
        <div class="flex-button">
            <form (ngSubmit)="OpenPopUpIfCloseProjectcontectItemWithTimer()" #f=ngForm>
                <button *ngIf="endButtonTimerContectProjectContectItem" type="submit" class="btn ">סיים דיווח </button>
            </form>

            <button *ngIf="endButtonTimerContectProjectContectItem" type="submit" class="btn "
                (click)="CancelProjectContectItemWithTimer()">בטל דיווח</button>
        </div>
    </div>
    <div footer>
    </div>
</app-pop-up>
<div *ngIf="showMassgeToUserProjectContectItemWithTimer">
    <app-pop-up>
        <div body>
            <app-massge-to-user 
                [massgeUserHeader]="massgeUserCloseProjectContectItemByTimer"
                (clickYes)="clickYes(this.TimeProjectContectItemHour)" (clickCancel)="clickCancel($event)"
                [ButtonCancel]="ButtonCancel" (clickNo)="clickNo($event)" [ifButton]="true"
                [kindOfMassage]="projectContectItemByTimer" [textOfBtnNo]="'לא, איני רוצה לסיים '"
                [textOfBtnYes]="'כן, אני רוצה  לסיים'"></app-massge-to-user>
        </div>
    </app-pop-up>
</div>
<div *ngIf="showMassgeToUserCancelProjectContectItemWithTimer">
    <app-pop-up>
        <div body>
            <app-massge-to-user [kindOfMassage]="projectContectItemByTimerCancel"
                [massgeUserHeader]="massgeUserCloseProjectContectItemByTimer"
                (clickYes)="clickYes(this.TimeProjectContectItemHour)" (clickYes)="clickCancel($event)"
                (clickNo)="clickNo($event)" [ifButton]="true" 
                [textOfBtnNo]="'לא, איני רוצה לסיים דיווח זה  '" [textOfBtnYes]="'כן, אני רוצה לסיים דיווח זה '">
            </app-massge-to-user>
        </div>
    </app-pop-up>
</div>
<div *ngIf="OpenUpdatePauseTimerProjectContectItem">
    <app-pop-up>
        <div body>
            <app-create-aproject-content-item
                [endButtonTimerContectProjectContectItem]="endButtonTimerContectProjectContectItem"
                [projectContectItemByTimerGuid]="projectContectItemByTimerGuid" [ifXt]="true"
                [KindPopUpUpdateProjectContectItemWithTime]="kindPopUp" [actualTime]="timeToSendCreate">
            </app-create-aproject-content-item>
        </div>
    </app-pop-up>
    </div>
    
    <app-pop-up-for-image *ngIf="ifShowSpinner" >
        <div body class="body-content">
          <img src="../../assets/images/image_processing20210907-24087-1xvipj3.gif" id="pop-up-image" />
        </div>
      </app-pop-up-for-image>
