<app-pop-up #upPopUP [ifX]="ifX">
    <h4 header class="mb-4">דיווחי שעות
        <!-- <img src="..\../assets/images/pathIcon2.jpg" alt="Card image cap"
        class="image my-3" alt="profile"> -->
        <!-- <i class="fa fa-coffee "></i> -->
    </h4>
    <div body>

        <div class="form-outline d-flex justify-content-center">
            <button class="btn" *ngIf="!endButtonTimerContectProjectContectItem"
                (click)="startTimerProjectContectItem()">התחל </button>
            <p *ngIf="TimeProjectContectItemHour" class="Time">
                {{TimeProjectContectItemHour}}
                <!-- workTimeHourProjectContectItemWithTimer -->
            </p>
        </div>
        <div class="flex-button">
                <form (ngSubmit)="OpenPopUpIfCloseProjectcontectItemWithTimer()" #f=ngForm>
                    <button *ngIf="endButtonTimerContectProjectContectItem" type="submit" class="btn ">סיים </button>
                </form>
           
                <button *ngIf="endButtonTimerContectProjectContectItem" type="submit" class="btn "
                    (click)="CancelProjectContectItemWithTimer()">בטל דיווח</button>
        </div>
    </div>
    <div footer>
    </div>
</app-pop-up>
<div *ngIf="showMassgeToUserProjectContectItemWithTimer">
    <app-pop-up>
        <div body>
            <app-massge-to-user [kindOfMassage]="projectContectItemByTimer"
                [massgeUserHeader]="massgeUserCloseProjectContectItemByTimer"
                (clickYes)="clickYes(this.TimeProjectContectItemHour)" (clickCancel)="clickCancel($event)"
                [ButtonCancel]="ButtonCancel" (clickNo)="clickNo($event)" [ifButton]="true"
                [kindOfMassage]="projectContectItemByTimer"></app-massge-to-user>
        </div>
    </app-pop-up>
</div>
<div *ngIf="showMassgeToUserCancelProjectContectItemWithTimer">
    <app-pop-up>
        <div body>
            <app-massge-to-user [kindOfMassage]="projectContectItemByTimer"
                [massgeUserHeader]="massgeUserCloseProjectContectItemByTimer"
                (clickYes)="clickYes(this.TimeProjectContectItemHour)" (clickYes)="clickCancel($event)"
                (clickNo)="clickNo($event)" [ifButton]="true" [kindOfMassage]="projectContectItemByTimer">
            </app-massge-to-user>
        </div>
    </app-pop-up>
</div>
<div *ngIf="OpenUpdatePauseTimerProjectContectItem">
    <app-pop-up>
        <div body>
            <app-create-aproject-content-item
                [endButtonTimerContectProjectContectItem]="endButtonTimerContectProjectContectItem"
                [projectContectItemByTimerGuid]="projectContectItemByTimerGuid" [ifXt]="false"
                [KindPopUpUpdateProjectContectItemWithTime]="kindPopUp" [actualTime]="timeToSendCreate">
            </app-create-aproject-content-item>
        </div>
    </app-pop-up>
</div>