<div class="actionArea">
  <div class="card">
    <a class="close" (click)="closePersonalDetailss()">&times;</a>
    <div *ngIf="systemGuid">
      <div class="card-body">
        <p>{{todayDate|date:'dd/MM/yyyy'}}</p>
        <img src="{{image}}" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
          
        <h5 class="card-title">{{systemName}}</h5>
        <p class="card-text">{{systemMail}}</p>
      </div>
    </div>
    <div *ngIf="!systemGuid">
      <h3 style="text-align:center">!אף אחד לא מחובר</h3>
    </div>
    <div *ngIf="systemGuid">
      <p class="card-title">סה"כ ש"ע להיום: {{DailyAndMonthlyWorkingHours?.DailyWorkingHours |number}}</p>
      <p class="card-title">סה"כ ש"ע לחודש זה: {{DailyAndMonthlyWorkingHours?.MonthlyWorkingHours |number}}</p>
    </div>
    <div class="icons" *ngIf="systemGuid">
      <a (click)="openPopUpp('sickLeave',true)" placement="top" ngbTooltip="דיווח מהיר של מחלה"><i class="iconify"
          data-icon="ic:outline-sick"></i>
      </a>
      <a (click)="openPopUpp('Freedom',true)" placement="top" ngbTooltip="דיווח מהיר של חופשה"><i class="iconify"
          data-icon="iconoir:sea-and-sun"></i>
      </a>
      <a (click)="goTpHoursAwaitingApproval()" placement="top"
        ngbTooltip="לצפייה ואישור של דיווחים הנדרשים לתיקון"><i class="iconify"
          data-icon="carbon:condition-wait-point"></i></a>
      <a (click)="goToEmployeeReport()" placement="top"
        ngbTooltip="דוח עובדים / צוותים"><i class="iconify" data-icon="carbon:report"></i></a>
        <a (click)="goToDetailsOfWorkingHours()" class="edit-button" class="edit-button"> 
          <i class="fa fa-clock-o" aria-hidden="true"></i></a>
        <a (click)="goToSystemSetting()">  <i class="fa fa-cog mt-2" style="font-size: 24px;"></i></a>
    </div>
  </div>
</div>