<div class="actionArea">
  <div class="card">
    <a class="close" (click)="closePersonalDetailss()">&times;</a>
    <div *ngIf="systemGuid">
      <div class="card-body">
        <p>{{todayDate|date:'dd/MM/yyyy'}}</p>
        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
          class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
        <h5 class="card-title">{{systemName}}</h5>
        <p class="card-text">{{systemMail}}</p>
      </div>
    </div>
    <div *ngIf="!systemGuid">
      <h3 style="text-align:center">!אף אחד לא מחובר</h3>
    </div>
    <div>
      <p class="card-title">סה"כ ש"ע להיום: {{DailyAndMonthlyWorkingHours?.DailyWorkingHours |number}}</p>
      <p class="card-title">סה"כ ש"ע לחודש זה: {{DailyAndMonthlyWorkingHours?.MonthlyWorkingHours |number}}</p>
    </div>
    <div class="icons">
      <a (click)="openPopUpp('sickLeave',true)" data-toggle="tooltip" data-placement="top"
        title="דיווח מהיר של חופשת מחלה"><i class="iconify" data-icon="ic:outline-sick"></i>
      </a>
      <a (click)="openPopUpp('Freedom',true)" data-toggle="tooltip" data-placement="top" title="דיווח מהיר של חופשה"><i
          class="iconify" data-icon="iconoir:sea-and-sun"></i>
      </a>
      <a (click)="openPopUpp('HoursAwaitingApproval',true)"  data-toggle="tooltip" data-placement="top" title="לצפייה ואישור של דיווחים הממתנים לאישור מנהל"><i class="iconify"
          data-icon="carbon:condition-wait-point"></i></a>

    </div>

  </div>
</div>