.actionArea {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 19;
  /* background-color: #0e1b34de; */
  width: 35%;

}


p.card-title {
  text-align: right !important;
  font-size: small;
  font-weight: bold;
}

.profile-image-pic {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.iconify {
  font-size: 30px;
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
}

.visible {
  height: 3em;
  width: 10em;
  background: yellow;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  border-radius: 8px;
  background-color: #fff;
  min-width: 200px;
  max-width: 20vw;
  min-height: 30vw;
  margin: auto;
  padding: 20px;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 19;
  width: 35%;
}