<h3
  style="text-align: center; padding:25px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;">
  <span><span>נתוני עובד</span><span> :</span> {{this.EmployeeName }}</span> </h3>
  
<div class="form-outline d-flex justify-content-center">
  <select id="inputState" class="form-control" ngModel
    (ngModelChange)="GetWorkTimeByWorkTypeAndWorkTimeCompareActualTimeChart($event)">
    <option value="" [disabled]="true" >--בחר אחת מהאופציות הבאות--</option>
    <option value="1"> מיון לפי טווח תאריכים</option>
    <option value="2">שעות עבודה היום</option>
    <option value="3">שעות עבודה בשבוע האחרון</option>
    <option value="4">שעות עבודה החודש</option>
  </select>
</div>
<!-- <div class="form-outline d-flex justify-content-center">
  <span>{{this.EmployeeName }}</span><span> :</span><span>נתוני עובד</span>  
</div> -->


<ng-container *ngIf="showCompareDatesEmployeeDetails">
  <div class="form-group ">
    <button
      (click)="SortWorkTimeByWorkTypeAndWorkTimeCompareActualTimeByDateRange()"
      class="btn btn-color">השווה</button>
      <div class="input-group input-daterange">
        <input type="text" class="form-control" id="date" name="date" onmouseover="this.type='date'"
          [(ngModel)]="untilDate" placeholder="מתאריך">
        <div class="input-group-addon">עד - </div>
        <input type="text" class="form-control" onmouseover="this.type='date'" placeholder="לתאריך"
        [(ngModel)]="fromDate">
      </div>
  </div>
</ng-container>

<div class="all-canvas-page">
  <app-smart-card [title]="'השוואה בין שעות עבודה לשעות בפועל'" class="task-card-timer">

    <div body class="body">
      <div class="canvas ">
        <canvas id="BarChart">
        </canvas>
      </div>
    </div>
  </app-smart-card>

  <app-smart-card [title]="'שעות עבודה - סוג עבודה'" class="task-card-timer">
    <div body class="body">
      <div class="canvas ">
        <canvas id="BarChart2">
        </canvas>
      </div>
    </div>
  </app-smart-card>
</div>