<div class="form-outline d-flex justify-content-center">
  <select id="inputState" class="form-control" ngModel>
    <option value="">--בחר אחת מהאופציות הבאות--</option>
    <option value="0">שעות בפועל לעומת שעות עבודה</option>
    <option value="1"> שעות בפועל לעומת סוג עבודה </option>
  </select>
</div>

<!-- <button (click)="ComparisonDailyWorkingHoursAndMonthlyWorkingHours()"></button> -->
<div body class="body">
  <div class="canvas ">
    <canvas id="BarChart">
    </canvas>
  </div>
</div>

<div body class="body">
  <div class="canvas ">
    <canvas id="BarChart2">
    </canvas>
  </div>
</div>