
.app-modal {
  display: flex;
  flex-direction: column;
  
  .body {
    width: 100%;
    padding: 20px;
    min-width: 20vw;
    min-height: 10rem;
    max-height: 80vh;
    overflow-y: auto;
  }
  .footer {
    width: 100%;
    background: lighten(#b6bdcc, 20%);
    border-top: lighten(#b6bdcc, 10%) 1px solid;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
  }
}


