<app-pop-up [ifX]="true">
    <div body>   
         <h4 header class="mb-4"> {{header}} </h4>

        <form (ngSubmit)="UpdateEmployeeDetails(f)" #f="ngForm">
            <p class="contect">שם העובד</p>
            <div class="form-outline d-flex justify-content-center">
                <input type="text" id="EmployeeName" name="EmployeeName" class="form-control" placeholder="שם העובד "
                    [disabled]="true" [(ngModel)]="employeeDetails.EmployeeName" [ngModelOptions]="{standalone: true}"
                    ngModel #EmployeeName="ngModel" required
                    [ngClass]="{ 'is-invalid': f.submitted && EmployeeName.invalid }">
            </div>
            <div *ngIf="f.submitted && EmployeeName.invalid" class="text-danger">
                <span *ngIf="EmployeeName.errors">שדה זה חובה</span>
            </div>
            <p class="contect">תפקיד עובד</p>
            <div class="form-outline d-flex justify-content-center">
                <input type="text" id="EmployeeJob" name="EmployeeJob" class="form-control" placeholder="תפקיד העובד "
                    [(ngModel)]="employeeDetails.EmployeeJob" [ngModelOptions]="{standalone: true}" ngModel
                    [ngClass]="{ 'is-invalid': f.submitted && EmployeeJob.invalid }" required #EmployeeJob="ngModel"
                    required>
            </div>
            <div *ngIf="f.submitted && EmployeeJob.invalid" class="text-danger">
                <span *ngIf="EmployeeJob.errors">שדה זה חובה</span>
            </div>
            <p class="contect"> היקף משרה</p>
            <div class="form-outline d-flex justify-content-center">
                <input type="text" id="EmployeeJobPercentage" name="EmployeeJobPercentage" class="form-control"
                    placeholder="היקף משרה " [(ngModel)]="employeeDetails.EmployeeJobPercentage"
                    [ngModelOptions]="{standalone: true}" ngModel
                    [ngClass]="{ 'is-invalid': f.submitted && EmployeeJobPercentage.invalid }" required
                    #EmployeeJobPercentage="ngModel" required>
            </div>

            <div *ngIf="f.submitted && EmployeeJobPercentage.invalid" class="text-danger">
                <span *ngIf="EmployeeJobPercentage.errors">שדה זה חובה</span>
            </div>
            <p class="contect"> סה"כ שעות עבודה חודשיות</p>
            <div class="form-outline d-flex justify-content-center">
                <input type="text" id="TotalMonthlyWorkingHours" name="TotalMonthlyWorkingHours" class="form-control"
                    placeholder="סהכ שעות עבודה חודשיות " [(ngModel)]="employeeDetails.TotalMonthlyWorkingHours"
                    [ngModelOptions]="{standalone: true}" ngModel
                    [ngClass]="{ 'is-invalid': f.submitted && TotalMonthlyWorkingHours.invalid }" required
                    #TotalMonthlyWorkingHours="ngModel" required>
            </div>

            <div *ngIf="f.submitted && TotalMonthlyWorkingHours.invalid" class="text-danger">
                <span *ngIf="TotalMonthlyWorkingHours.errors">שדה זה חובה</span>
            </div>
            <p class="contect">יעד חודשי לפי משרה </p>
            <div class="form-outline d-flex justify-content-center">
                <input type="text" id="MonthlyTargetByJobScope" name="MonthlyTargetByJobScope" class="form-control"
                    placeholder=" יעד חודשי לפי משרה" [(ngModel)]="employeeDetails.MonthlyTargetByJobScope"
                    [ngModelOptions]="{standalone: true}" ngModel
                    [ngClass]="{ 'is-invalid': f.submitted && MonthlyTargetByJobScope.invalid }" required
                    #MonthlyTargetByJobScope="ngModel" required>
            </div>

            <div *ngIf="f.submitted && MonthlyTargetByJobScope.invalid" class="text-danger">
                <span *ngIf="MonthlyTargetByJobScope.errors">שדה זה חובה</span>
            </div>
            <button [disabled]="disableAfterUpdate" type="submit" class="btn">עדכן נתוני עובד </button>
        </form>
    </div>
</app-pop-up>