button{
    border-color: white;
    background-color: white;
    border: none;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 0rem;
}

.input-container {
    margin: 1rem;
}

.form-outline,
#inputState-2 {
    width: 19rem;
}

#inputState-1 {
    width: 16rem;

}
.search {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin-bottom: 1rem;
}
@media (max-width: 900px) {
    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        direction: rtl;
        margin-bottom: 1rem;
        align-items: center;
    }
} img {
    height: 50px;
    width: 50px;
    margin-bottom: 0.5rem
}

.btn-color{
    background-color:#f1b93c;
    color: rgb(15, 13, 13);
    margin: 1rem;

  }
