
<app-smart-card   [title]="titleTableTask">
    <div body>
      <app-smart-table [ifUpdate]="true" [ifDelete]="true" [thArr]="thArrTask" [ifShowpagination]="[true,10]" [ifSortDown]="ifSortDown" 
      [tableDataKeys]="taskListKeys" [tableData]="taskArr"
        (DeleteProjectContentItemIcon)="deleteProjectContentItemIcon($event)"
        (EditProjectContentItemIcon)="editProjectContentItemIcon($event)" (EditEmployeeDetailsByAdmin)="editEmployeeDetailsByAdmin($event)" (SortTableDown)="SortTableDown($event)"
        (SortTableUp)="SortTableUp($event)"  [ifUpdateOpen]="isPopUpOpen?.UpdateProjectContentItemDetails">
      </app-smart-table>
    </div>
  </app-smart-card>

  
  <div *ngIf="isPopUpOpen?.UpdateProjectContentItemDetails">
    <app-update-project-content-item [kindUpdate]="'updateTaskDetails'" [project]="projectArr" [workType]="workTypeArr"
      [ifUpdateTask]="true" [header]="'עדכון משימה'" [ProjectContentItem]="projectContentItem">
    </app-update-project-content-item>
  </div>
  
  <div *ngIf="isPopUpOpen?.DeleteProjectContentItemIcon">
    <app-delete-project-content-item [projectContentItemGuid]="projectContentItemGuid">
    </app-delete-project-content-item>
  </div>
  <div *ngIf="ifThereAreTasks">
    <br>
    <h2>אין משימות פעילות!</h2>
  </div>
  
  
