<form>
    <app-pop-up #upPopUP [ifX]="true">
        <h4 header class="mb-4">יצירת פריט תכולת פרוייקט חדשה</h4>
        <div body>
            <form (ngSubmit)="f.valid &&CreateNewProjectItem(f)" #f="ngForm">
                <div class="form-outline d-flex justify-content-center">
                    <input type="date" name="date" value="{{todayDate| date: 'yyyy-MM-dd'}}" class="form-control"
                        placeholder=" תאריך " #date="ngModel" ngModel
                        [ngClass]="{ 'is-invalid': f.submitted && date.invalid }" required>

                </div>
                <div *ngIf="f.submitted && date.invalid" class="text-danger">
                    <h6 *ngIf="date.errors">Product is Required</h6>
                </div>
                <div class="form-outline d-flex justify-content-center">
                    <input type="text" id="Subject" name="Subject" class="form-control" placeholder="נושא המשימה"
                        ngModel #subject="ngModel" [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" required />
                </div>
                <div *ngIf="f.submitted && subject.invalid" class="text-danger">
                    <h6 *ngIf="subject.errors">subject is Required</h6>
                </div>
                <div class="form-outline d-flex justify-content-center">
                    <select id="inputState" class="form-control " name="workType"  #workType="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && workType.invalid }" required  ngModel>
                        <option value="">סוג עבודה</option>
                        <option *ngFor="let workType of this.WorkType" value="{{workType.Guid}}">
                            {{workType.Name}}
                        </option>
                    </select>

                </div>
                <div *ngIf="f.submitted && workType.invalid" class="text-danger">
                    <h6 *ngIf="workType.errors">workType is Required</h6>
                </div>

                <div class="form-outline d-flex justify-content-center ">
                    <input type="number" id="FirstName" name="HoursActually" class="form-control"
                        placeholder="שעות בפועל" required ngModel  #HoursActually="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && HoursActually.invalid }" >
                </div>
                <div *ngIf="f.submitted && HoursActually.invalid" class="text-danger">
                    <h6 *ngIf="HoursActually.errors">workType is Required</h6>
                </div>
                <div class="form-outline d-flex justify-content-center">
                    <select id="inputState" class="form-control"  name="billingHours"  #billingHours="ngModel" ngModel
                    [ngClass]="{ 'is-invalid': f.submitted && billingHours.invalid }" required >
                        <option value="">?האם שעות לחיוב</option>
                        <option value="1">כן </option>
                        <option value="2">לא </option>
                    </select>
                </div>
                <div *ngIf="f.submitted && billingHours.invalid" class="text-danger">
                    <h6 *ngIf="billingHours.errors">workType is Required</h6>
                </div>
                <div class="form-outline d-flex justify-content-center">
                    <select id="inputState" class="form-control" ngModel name="SourceTask"   #SourceTask="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && SourceTask.invalid }" required>
                        <option value="">סוג עבודה</option>
                        <option *ngFor="let MyTask of MyTask" value="{{MyTask.TaskGuid}}">
                            {{MyTask.Subject}}
                        </option>
                    </select>
                </div>
                <div *ngIf="f.submitted && SourceTask.invalid" class="text-danger">
                    <h6 *ngIf="SourceTask.errors">workType is Required</h6>
                </div>
                <div class="form-outline d-flex justify-content-center">
                    <select id="inputState" class="form-control " ngModel name="project" #project="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && project.invalid }" required>
                    
                        <option value=""> לגבי</option>
                        <option *ngFor="let project of this.Project" value="{{project.Guid}}">
                            {{project.Name}}
                        </option>
                    </select>
                </div>
                <div *ngIf="f.submitted && project.invalid" class="text-danger">
                    <h6 *ngIf="project.errors">workType is Required</h6>
                </div>
                <div class="form-outline d-flex justify-content-center ">
                    <textarea style="max-height:100%;" type="text" id="FirstName" name="Description" #Description="ngModel"
                        class="form-control textarea" placeholder=" תאור המשימה  " ngModel 
                        [ngClass]="{ 'is-invalid': f.submitted && Description.invalid }" required>
                        </textarea>
                </div>
                <div *ngIf="f.submitted && Description.invalid" class="text-danger">
                    <h6 *ngIf="Description.errors">workType is Required</h6>
                </div>
                <div class="form-outline d-flex justify-content-center ">
                    <input type="text" id="FirstName" name="NoteToProjectManager" class="form-control"  ngModel name="NoteToProjectManager" #NoteToProjectManager="ngModel"
                        placeholder="הערות למנהל פרוייקט"  
                        [ngClass]="{ 'is-invalid': f.submitted && NoteToProjectManager.invalid }" required>
                        
                </div>
                <div *ngIf="f.submitted && NoteToProjectManager.invalid" class="text-danger">
                    <h6 *ngIf="NoteToProjectManager.errors">workType is Required</h6>
                </div>
                <button type="submit" class="btn ">צור פריט תכולת פרוייקט חדשה</button>
            </form>
        </div>
        <div footer>

        </div>
    </app-pop-up>