<form>
    <app-pop-up #upPopUP [ifX]="true">
        <h4 header class="mb-4">יצירת  פריט תכולת פרוייקט חדשה</h4>
        <div body>
            <div class="form-outline d-flex justify-content-center">
                <input type="date" id="date" name="date" value="{{todayDate| date: 'yyyy-MM-dd' }}" class="form-control"
                    placeholder=" תאריך " required />
            </div>
            <div class="form-outline d-flex justify-content-center">
                <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="נושא המשימה "
                    required />
            </div>
            <div class="form-outline d-flex justify-content-center ">
                <textarea  style="max-height:100%;" type="text" id="FirstName" name="FirstName" class="form-control textarea" placeholder=" תאור המשימה  "
                    required ></textarea>
            </div>
            <div class="form-outline d-flex justify-content-center ">
                <input type="text" id="FirstName" name="FirstName" class="form-control"
                    placeholder="הערות למנהל פרוייקט" required />
            </div>
            <div class="form-outline d-flex justify-content-center ">
                <input type="number" id="FirstName" name="FirstName" class="form-control"
                    placeholder="משך" required />
            </div>
            <div class="form-outline d-flex justify-content-center">
                <select id="inputState" class="form-control ">
                    <option value="">?האם שעות לחיוב</option>
                    <option value="">כן </option>
                    <option value=""> לא</option>

                </select>
            </div>
            <div class="form-outline d-flex justify-content-center">
                <select id="inputState" class="form-control ">
                    <option value="">פרוייקט (לגבי)</option>
                    <option value="">כן </option>
                    <option value=""> לא</option>

                </select>
            </div>
            <div class="form-outline d-flex justify-content-center">
                <select id="inputState" class="form-control ">
                    <option value="">סוג עבודה</option>
                    <option value="">כן </option>
                    <option value=""> לא</option>

                </select>
            </div>
        </div>
        <div footer>
            <button type="submit" class="btn " >צור פריט תכולת פרוייקט חדשה</button>
        </div>
    </app-pop-up>
</form>