/* You can add global styles to this file, and also import other style files */
.form-control {
  margin-right: 20px;
  margin: 0 0 10px 0;
  text-align: right;
  width: 20rem;
}

/* .card-of-task .card-of-description .card-body form .input-container {
  display: flex;
  flex-direction: column;
} */



h4 {
  direction: rtl !important;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.card-body {
  direction: rtl !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.close {
  width: 100%;
  display: flex;
  direction: rtl;
}

.menu {
  display: flex;
  direction: rtl;
  padding: 1rem;
  justify-content: center;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.button-of-task {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}


::placeholder {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  text-align: right;
}

.btn {
  background-color: #f1b93c;
  color: black;
}

.all-page.pop-up-open {
  overflow: hidden;
  height: 90vh;
}

tr {
  text-align: center;
}

textarea.form-control {
  min-height: 100px;
}

.task-card-timer {
  max-width: 600px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.input-container {
  margin: 0.9rem;
}

.ngx-pagination {
  margin-left: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #f1b93c;
  color: #fefefe;
  cursor: default;
}

@media (max-width: 455px) {
  ul.ngx-pagination {
    padding-left: 1.5rem;
  }
}


.select-table {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}