.canvas {
    width: 100%;
}

.input-group-addon {
    padding: 0.5rem
}

.label {
    border-color: orange;
}

.form-control {
    width: 16rem;
}

.all-canvas-page {
    display: flex;
    direction: rtl;
    flex-wrap: wrap;
}

.select-input {
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content: center;
}



.input-group.input-daterange {
    width: 20rem;
}

.form-group {
    display: flex;
    justify-content: center;

}

button.btn.btn-color {
    margin-right: 1rem;
}

#lineChart {
    width: 100%;
}

/*  */
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}

.frac>span {
    display: block;
    padding: 0.1em;
}

.frac span.bottom {
    border-top: thin solid black;
}

.frac span.symbol {
    display: none;
}

.body {
    display: flex;
    justify-content: center;
    /* margin-top: 70px; */
    flex-direction: column;
}

#BarChart {
    margin: 10px;
}

#BarChart2 {
    margin: 10px;
}

.selectInCard {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.selectDate {
    width: 100%;
    color: green;
}

/* .inputDate {
    width: 80%;
    display: flex;
    /* justify-content: center; */
/* } */
.span {
    font-weight: 600;
}

.box {
    border-style: ridge; 
    /* border-radius: 10%; */
}

.row {
    flex-wrap: wrap;
   
}