<app-tab-nav-menu [tabLink]="tabLink"></app-tab-nav-menu>

<app-smart-card class="task-card-timer" [ifX]="false" [title]="titleCard">
  <div body>

    <div class="form-outline d-flex justify-content-center  ">
      <p class="span">שם פרויקט: </p>
      <p>{{ProjectArr?.Name}} </p>
    </div>
    <div class="form-outline d-flex justify-content-right row ">

      <!-- <div class="form-outline d-flex justify-content-right ">
      <p class="span">לקוח: </p>
      <p>{{ProjectArr?.Account?.Name}} </p>
    </div> -->
      <div class="form-outline d-flex justify-content-right col-6">
        <p class="span">שעות לאישור: </p>
        <p>{{ProjectArr?.ConfirmedHours}} </p>
      </div>

      <div class="form-outline d-flex justify-content-right col-6">
        <p class="span">תאריך התחלה: </p>
        <p>{{ProjectArr?.StartDate}} </p>

      </div>
    </div>
    <div class="form-outline d-flex justify-content-right ">
      <p class="span">תאריך סיום: </p>
      <p>{{ProjectArr?.EndDate}}</p>

    </div>
    <div class="form-outline d-flex justify-content-right ">
      <p class="span">סוג פרויקט: </p>
      <p>{{ProjectArr?.ProjectType?.Name}}</p>

    </div>
    <!-- <div class="form-outline d-flex justify-content-right ">
      <p class="span">מנהל פרויקט: </p>
      <p>{{ProjectArr?.ProjectManager?.Name}}</p>

    </div>
    <div class="form-outline d-flex justify-content-right ">
      <p class="span">מפתח ראשי: </p>
      <p>{{ProjectArr?.HeadProgrammer?.Name}}</p>

    </div> -->
    <!-- <div class="form-outline d-flex justify-content-right ">
      <p class="span">נושא: </p>
      <p>{{ProjectArr?.Subject}} </p>

    </div> -->
    <div class="form-outline d-flex justify-content-right ">
      <p class="span">לקוח בפרויקט: </p>
      <p>{{ProjectArr?.ContactInProject?.Name}} </p>

    </div>
    <div class="form-outline d-flex justify-content-right ">
      <p class="span">שעות לחיוב: </p>
      <p>{{ProjectArr?.isBillableHours}} </p>

    </div>
    <div class="form-outline d-flex justify-content-right ">
      <p class="span">סה"כ שעות לאישור: </p>
      <p>{{ProjectArr?.totalDevHours}} </p>

    </div>
    <div class="form-outline d-flex justify-content-right ">
      <p class="span">תיאור פרויקט: </p>
      <p>{{ProjectArr?.Description}}</p>

    </div>
    <br>

  </div>
</app-smart-card>