.edit-button{
  border-color: white;
  background-color: white;
  border: none;
}
p {
  margin: 0;
  text-align: right;
}.sort-btn{
  border-color: white;
  background-color: white;
  border: none;
}
td.td {
  display: flex;
  flex-direction: row;
  border-bottom-width: 0px;

}
.table>:not(caption)>*>*
{

  box-shadow: none;
}
.table-hover>tbody>td:hover>* {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}