<app-pop-up #upPopUP [ifX]="ifX" [ifXt]="ifXt" (ClickCancel)="CancelProjectContectItem()">
    <h4 header class="mb-4">יצירת דיווח</h4>
    <div body>
        <!-- <form  (ngSubmit)="f.valid &&CreateNewProjectItem(f)" #f="ngForm"> -->
        <form (ngSubmit)="f.valid &&CreateOrUpdateProjectContectItem(f)" #f="ngForm">
            <div class="checkbox" *ngIf="!KindPopUpUpdateProjectContectItemWithTime">
                <label for="vehicle1">לדיווח על מספר עובדים</label>
                <input type="checkbox" id="fewDays" name="fewDays" [(ngModel)]="isChecked"
                    (change)="checkIfReportMoreEmployees(isChecked)">
            </div>
            <div *ngIf="openInputReportMoreEmployee">
                <div class="example-block">
                    <div class="example-block__item">
                        <ngx-select [multiple]="true" [items]="this.EmployeeeArrWithOutMe" [disabled]="ngxDisabled"
                            [(ngModel)]="MoreEmployeeArr" [autoClearSearch]="true" placeholder="לא נבחרו עובדים נוספים"
                            required ngModel name="MoreEmployee" #MoreEmployee="ngModel">
                        </ngx-select>
                        <!-- <p></p>
                        <div class="alert alert-secondary">
                            <pre>{{ngxValue | json}}</pre>
                        </div>
                        <div>
                            <button class="btn btn-primary" (click)="ngxDisabled = !ngxDisabled">
                                {{ngxDisabled ? 'Enable' : 'Disable'}}
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div *ngIf="!KindPopUpUpdateProjectContectItemWithTime &&!dateToUpdate"
                class="form-outline d-flex justify-content-center">
                <input type="date" class="form-control" id="oneDate" name="oneDate"
                    [ngModel]=" todayDate| date: 'yyyy-MM-dd'" (ngModelChange)="oneDate = $event">
            </div>
            <div *ngIf="!KindPopUpUpdateProjectContectItemWithTime&&dateToUpdate"
                class="form-outline d-flex justify-content-center">
                <input type="date" class="form-control" id="oneDate" name="oneDate"
                    [ngModel]=" dateToUpdate| date: 'yyyy-MM-dd'" (ngModelChange)="oneDate = $event">
            </div>
            <div class="form-outline d-flex justify-content-center">
                <input type="text" id="Subject" name="Name" class="form-control" placeholder="נושא" ngModel
                    #subject="ngModel" [(ngModel)]="subject1"
                    [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" required />
            </div>
            <div *ngIf="f.submitted && subject.invalid" class="text-danger">
                <span *ngIf="subject.errors">שדה זה חובה</span>
            </div>
            <div class="form-outline d-flex justify-content-center mb-4">
                <ng-autocomplete style="width:100%;" class="autoComplete" [data]=" this.WorkType"
                    [searchKeyword]="'Name'" placeholder="סוג עבודה" historyIdentifier="workType"
                    [itemTemplate]="itemTemplate" ngModel name="workType" #workType="ngModel" required
                    [notFoundTemplate]="notFoundTemplate" (ngModelChange)="onWorkTypeSelected($event)">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.Name"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="'לא נמצאו תוצאות'"></div>
                </ng-template>
            </div>

            <div *ngIf="f.submitted && workType.invalid" class="text-danger">
                <span *ngIf="workType.errors">שדה זה חובה</span>
            </div>
            <ng-container *ngIf="!KindPopUpUpdateProjectContectItemWithTime">
                <div class="form-outline d-flex justify-content-center ">
                    <input type="number" id="ActualTime" name="ActualTime" class="form-control" placeholder="שעות בפועל"
                        required ngModel #HoursActually="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && HoursActually.invalid }">
                </div>
                <div *ngIf="f.submitted && HoursActually.invalid" class="text-danger">
                    <span *ngIf="HoursActually.errors">שדה זה חובה</span>
                </div>
            </ng-container>
            <ng-container *ngIf="KindPopUpUpdateProjectContectItemWithTime">
                <div class="form-outline d-flex justify-content-center">
                    <input type="number" id="ActualTime" name="ActualTime" class="form-control" placeholder="שעות בפועל"
                        required ngModel #ActualTime="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && ActualTime.invalid }" [(ngModel)]="actualTime">
                </div>
                <div *ngIf="f.submitted && ActualTime.invalid" class="text-danger">
                    <span *ngIf="ActualTime.errors">שדה זה חובה</span>
                </div>
            </ng-container>
            <div class="form-outline d-flex justify-content-center">
                <select id="inputState" class="form-control" [(ngModel)]="billingHours1" name="BillableHours"
                    #billingHours="ngModel" ngModel [ngClass]="{ 'is-invalid': f.submitted && billingHours.invalid }"
                    required>
                    <option value="">?האם שעות לחיוב</option>
                    <option value="1">כן </option>
                    <option value="2">לא </option>
                    <option value="970140002">אחר </option>
                </select>
            </div>
            <div *ngIf="f.submitted && billingHours.invalid" class="text-danger">
                <span *ngIf="billingHours.errors">שדה זה חובה</span>
            </div>
            <div class="form-outline d-flex justify-content-center mb-4">
                <ng-autocomplete style="width: 100%;" class="autoComplete" [data]="Project" [searchKeyword]="'Name'"
                    placeholder="פרויקט" historyIdentifier="Project" [itemTemplate]="itemTemplate"
                    [(ngModel)]="GuidProject" ngModel name="Project" #project="ngModel" required
                    [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.Name"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="'לא נמצאו תוצאות'"></div>
                </ng-template>
            </div>
            <div *ngIf="f.submitted && project.invalid" class="text-danger">
                <span *ngIf="project.errors">שדה זה חובה</span>
            </div>
            <div class="form-outline d-flex justify-content-center ">
                <textarea style="max-height:100%;" type="text" id="FirstName" name="Description" #Description="ngModel"
                    class="form-control textarea" placeholder=" תאור " ngModel>
                        </textarea>
            </div>
            <div class="form-outline d-flex justify-content-center ">
                <input type="text" id="FirstName" name="NoteToProjectManager" class="form-control" ngModel
                    name="NoteToProjectManager" #NoteToProjectManager="ngModel" placeholder="הערות למנהל פרוייקט">

            </div>
            <div *ngIf="f.submitted && NoteToProjectManager.invalid" class="text-danger">
                <span *ngIf="NoteToProjectManager.errors">שדה זה חובה</span>
            </div>

            <button type="submit" class="btn" [disabled]="isDisabled" placement="bottom" placement="bottom"
                ngbTooltip="יצירת פריט תכולת פרויקט" ngbTooltip=" יצירת פריט תכולת פרויקט">צור דיווח </button>
        </form>

    </div>
    <div footer>
    </div>
</app-pop-up>

<div *ngIf="showMassgeToUserCancelProjectContectItemWithTimerInCreate">
    <app-pop-up>
        <div body>
            <app-massge-to-user [kindOfMassage]="'projectContectItemByTimer'"
                [massgeUserHeader]="massgeUserCloseProjectContectItemByTimerCancel" (clickYes)="clickYes(actualTime)"
                (clickNo)="clickNo($event)" [ifButton]="true" [kindOfMassage]="'projectContectItemByTimer'">
            </app-massge-to-user>
        </div>
    </app-pop-up>
</div>