
.form-outline .autoComplete {
    border: 0.01rem solid rgb(220 217 217);
    border-radius: 5px;
    text-decoration: underline;
}

img.image {
    height: 40px;
    width: 40px;
}
.date {
    display: flex;
    justify-content: right;
    /* margin-bottom: 0.5rem; */
    position: absolute;
    top: 10px;
    left: 50px;
    display: flex;
}

.InputWithText {
    position: relative;
}


label {
    padding: 0.5rem;
}

.p-in-input-date {
    position: absolute;
}
/* 
.button2{
    display: flex;
} */
.btn{
    /* display: flex; */
    justify-content: center;
    position: initial;
    margin-top: 10px;

}