<app-pop-up #upPopUP [ifX]="ifX">
    <h4 header class="mb-4">הפסקה 
        <img src="..\../assets/images/pathIcon2.jpg" alt="Card image cap"
        class="image my-3" alt="profile">
        <!-- <i class="fa fa-coffee "></i> -->
    </h4>
    <div body>
        <form (ngSubmit)="OpenPopUpIfCloseTask()" #f=ngForm>
            <button *ngIf="endButton" type="submit" class="btn ">סיים הפסקה</button>
        </form>
        <div class="form-outline d-flex justify-content-center">
            <button class="btn" *ngIf="!endButton"  (click)="startPause()">התחל הפסקה</button>
            <p *ngIf="workTimeHour" class="Time">
                {{workTimeHour}}
            </p>
        </div>
    </div>
    <div footer>
    </div>
</app-pop-up>
<div *ngIf="showMassgeToUser">
    <app-pop-up>
        <div body>
            <app-massge-to-user [kindOfMassage]="popUpPause" [massgeUserHeader]="massgeUserCloseWorkPause1" (clickYes)="clickYes(workTimeHour)"
                (clickNo)="clickNo()" [ifButton]="true"></app-massge-to-user>
        </div>
    </app-pop-up>
</div>

